@import "../../scss/global.scss";

#authorsPageMain {
  position: relative;
  min-height: 60vh;
  //margin-top: 0px;
  background-color: $first-color;
  box-shadow: $mainshadow;
  //background-color: $cpdblue;
  //border-color: $cpdred;
  >div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    //border: solid;
    width: 80%;
    margin: 50px auto 20px;
    h2{
      display: inline;
      color: $first-color;
      color: $cpdblue;
      width: 80%;
      margin: 10px 30px ;
      font-family: $primary-font-bold;
      //border: solid;
    }
    &:last-child {
      margin: 20px auto 50px;
    }
  }

  #authorsArticle {
    display: flex;
    flex-flow: row wrap;
    justify-content:flex-start;
    column-gap: 20px;
    width: 80%;
    margin: 0px auto;
    padding: 20px;
    border-left: dotted;
    border-right: dotted;
    border-radius: $radiuslarge;
    border-width: 3px;
    border-color: $cpdred;
    
    div {
      display: flex;
      flex-flow: column nowrap;
      border-radius: $radiussmall;
      margin-bottom: 10px;
      //box-shadow: $boxshadow;
      >p{
        line-height: 0px; 
        margin: 0 0 0 0;
        padding: 15px 20px 10px 20px;
        font-size: $small;
        font-family:$primary-font;
        //background: linear-gradient($first-color, $cpdblue );
        background-color: $cpdblue;
        color: $secondary-color;
        border-radius: 10px 10px 0 0 ;  
        border: solid;
        border-bottom: none;
        border-color: $cpdred; 
      }
      .output {
        font-size: $normal;
        padding: 10px ;
        width: 100%;
        color: $cpdblue;
        text-align:left; 
        border-radius: 0 0 10px 10px; 
        background-color: $first-color; 
        background-color: $fourth-color;
        border-color: $cpdred;
        border: solid; 
        //box-shadow: $boxshadow;
      }
      #authorVitae {
        font-size: $normal;
        line-height: 2rem;  
      }
      #authorUpdate {
        max-width: 220px;
      }
      #authorsOffers{
        flex-basis: 2;
        //flex-grow: 200px;
        //flex-shrink: 1;
        //max-width: 220px;
      }
    }
    #fieldsOfExpertise ul{
      display: flex;
      flex-flow: column nowrap;
      justify-content:flex-start;
      list-style: none;
    }
  }
}

 