@import "../../scss/global.scss";

#authorsPageMain {
  position: relative;
  min-height: 75vh;
  //margin-top: 0px;
  background-color: $first-color;
  box-shadow: $mainshadow;
  //background-color: $cpdblue;
  //border-color: $cpdred;
  > p {
    text-align: end;
    width: 80%;
    margin: 0 auto;
    //border: solid;
    padding-right: 30px;
  };
  

  #authorsArticle {
    display: flex;
    flex-flow: column nowrap;
    justify-content:flex-start;
    column-gap: 20px;
    width: 85%;
    margin: 0px auto;
    padding: 0px;
    // border-left: dotted;
    // border-right: dotted;
    border-radius: 10px;
    border-width: 3px;
    // border-color: $cpdred;
    background-color: $fourth-color;
    box-shadow: $boxshadow;
    h2{
      background-color: $cpdblue;
      color: $fourth-color;
      text-align: center;
      padding: 15px;
      border-radius: 10px 10px 0px 0px;
      margin: 0;
      }
    
    >div {
      display: flex;
      flex-flow: column nowrap;
      border-radius: $radiussmall;
      margin-bottom: 10px;
      //box-shadow: $boxshadow;
      >div{
        padding: 4px 10px;
        background: linear-gradient($first-color, $fourth-color );
        display: flex;
        flex-flow: row nowrap;
        justify-content:flex-start;
        font-size: $small;
        >p{
          font-size: $small;
          width: 30%;
          //border: solid;
        }
        output {
          font-size: $small;
          width: 70%;
        }
        #authorVitae {
          font-size: $small;
          line-height: 1.5rem;  
        }
        #authorUpdate {
          max-width: 220px;
        }
        #authorsOffers{
          flex-basis: 2;
          //flex-grow: 200px;
          //flex-shrink: 1;
          //max-width: 220px;
        }
        #fieldsOfExpertise ul{
          display: flex;
          flex-flow: row nowrap;
          justify-content:flex-start;
          list-style: none;
          // li::before{
          //   content: "C ";
          //   font-family: VIA-Verlag;
          //   display: relative;
          //   top: 2px;
          // }
          li::after{
           content:  ", " ;
           margin-right: 3px;
          }
          li:last-child::after{
          content:"";
          }
        }
      }
      #contentImages{
        display: flex;
        flex-flow: row nowrap;
        gap: 10px;
        width: 100%;
        overflow-y:auto;
        scrollbar-width:thin;   
        scrollbar-color: $first-color $cpdred;
        
      }
    }
  }

  #buttonBox{
  width: 80%;
  margin: 20px auto;
  //border: solid;
    button {
      position: relative;
      right: -80% ;
      //border: solid;
    }
  }
}

 