//colors
$first-color: rgb(240, 255, 255);
$secondary-color: lemonchiffon;
$third-color: rgb(25, 110, 140);
$third-color-o: rgba(25, 110, 140, 0.5);
$third-color-75: rgba(25, 110, 140, 0.75);
$fourth-color: rgba(221, 155, 55, 0.2);
$alternativeblue: rgb(175, 215, 250);
$button-color: rgba(170, 170, 170, 0.75);
$cpdred: /* rgb(125, 0, 0); */rgb(100, 27, 26);//Persian Plum
$cpdred-o:/* rgba(125, 0, 0, 0.5); */rgba(120, 27, 26, 0.5);
$cpdred-50: rgb(100 27 26 / 50%);
$cpdred-30: rgb(100 27 26 / 30%);
$cpdblue: #00001e;
$cpdblue-100: rgb(0 0 30 / 100%);
$cpdblue-50: rgb(0 0 30 / 50%);
$cpdblue-10: rgb(0 0 30 / 10%);
$databaseblue:#49586F;

/* 
Persian Plum: #641b1a
Blue Chill: #118890
Blue Dianne: #225d63
Pine Green: #047c74 
*/

//shadows
$boxshadow: 0.1rem 0.5rem 1.0rem ;
$swalshadow: $cpdblue 0px 0px 50px 20px inset, 0px 0px 15px 5px white;;
$boxshadowbottom: 2.5rem 0.5rem 2rem;
$btnshadow: 0px 0px 5px 1px $cpdblue inset, 0px 0px 8px 2px grey,  -2px -2px 5px grey inset; 
$btnshadowpressed: 0px 0px 5px 1px $cpdblue inset, 0px 0px 8px 2px grey,  -2px -2px 5px grey inset; 
$btnshadowsmall: 0px 0px 5px 2px $third-color inset, 0px 0px 3px 1px grey,  -2px -2px 3px white inset; 
$rshadow: 3px 3px black, -3px -3px black, 3px -3px black, -3px 3px black;
$hovershadow:3px;
$text-shadow: 1px 1px 20px $cpdred;
$mainshadow: $cpdblue 0px 0px 100px 50px inset, 0px 0px 15px 5px white;
$managementshadow: $cpdred 0px 0px 100px 50px inset, 0px 0px 15px 5px white;

//backgroundcolours
$grad: linear-gradient($third-color-o, $cpdred-o) fixed;

/* textsizes*/
$xxxlarge: 3rem;
$xxlarge: 2.0rem;
$xlarge: 1.5rem;
$large: 1.2rem;
$normal: 1.1rem;
$small: 0.9rem;
$xsmall: 0.75rem;
$xxsmall: 0.5rem;
/*$medium: 4rem;
$large: 10rem;
$huge: 20rem;

$border-radius:*/
$radiuslarge: 20px;
$radiussmall:10px;
$radiusxsmall:5px;

/*Mediasetting*/
$phone: 675px;
$tablet: 760px;
$desktop: 1024px; 
$widedesktop: 2048px;
$highres: 3000px;

/* Fonts */
$primary-font: "FoundSanExpNorm", sans-serif;
$primary-font-bold: "FoundSanBd";
$calli: "VIA-Verlag";
$guthaben: "FoundSanBd";

/* logos */
$logosize10: 10px;
$logosize20: 20px;

  
:root {
    --beige-transparent-color: #f4e3d7bb;
    --beige-color: #f4e3d7;
    --middle-green-color: #008000;
    --dark-green-color: rgb(0, 66, 0);
    --dark-color: #011b10;
    --dark-transparent-color: #011b1080;
  }