@import "../../scss/global.scss";

#courseForm{
  width: 80%;
  max-width: 1280px;
  min-height: 70vh;
  margin: 0px auto 50px;
  box-shadow: $mainshadow;
  //padding: 10px;
  
  #courseFormContainer{
    width: 80%;
    border-radius: 20px;
    margin: 0 auto 50px;
    //box-shadow: none;
    background-color: transparent;
    padding: 30px 0 50px ;

    #änderungsHinweis{
      //position: relative;
      //top: -15px;
      font-size: $xlarge;
      width: fit-content;
      margin: 0px auto 30px ;
      color: $cpdblue;
    }
    
    #boxModusWahl{
      display: flex;
      flex-flow: column nowrap;
      //justify-content: flex-end;
      align-items:flex-start;
      gap: 0px;
      width: 25%;
      margin: 0 0 10px;
      padding: 0px;
      position: relative;
      left: 70%;
      //top: 75px;
      //border: solid;
      label{
        //border: solid;
      }
    }
    
    form {
      display: flex;
      flex-flow: row wrap;
      justify-content:left;
      align-content:flex-start;
      gap: 10px;
      margin: 0 auto 20px;
      padding: 10px;
      width: 90%;
      min-width: 700px;
      border-radius: $radiussmall;
      box-shadow: $boxshadow;
      background-color: $fourth-color;
      //border: solid;
      >div{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        gap: 0px;
        border: solid;
        flex-basis: calc(50% - 5px);
        flex-grow: 0;
        label {
          //border: solid;
          padding: 5px;
          flex-basis: 40%;
          //margin-left: 20px;
          align-items: flex-start;
        }
        input, textarea, output {
          //border: solid 01px;
          height: auto;
          padding: 10px;
          border-radius: 0px;
          font-family: $primary-font;
          font-size: $small;
          //width: 25%;
          flex-basis: 60%;
          color: $fourth-color;
          background-color: $cpdblue;
          border: none;
          &:focus {
            color: $cpdblue;
            background-color: $fourth-color;
            box-shadow: inset 0px 0px 10px 0px $cpdred;
            border: none;
            /* scale: 130%;
            z-index: 10;
            position: relative;
            right: 10%; */
            font-size:larger;
            outline-color:  $cpdred;
            outline-width: 0.5px;
            
          }
        }
      }
    }
    
    #buttonBox {
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-end !important;
      gap: 20px !important;
      border: none;
      width: 90%;
      margin: 0 auto 0px;
  
      button{
        vertical-align: middle;
        width: 60%;
        height: 40px;
        max-width: 120px;
        margin: 0px ;
        font-size: $xsmall;
        padding: 10px;
        background-color: $first-color;
        color: $cpdblue;
        box-shadow: $btnshadow;
        border-radius: $radiussmall;
        text-decoration: none;
        border: none;
      }
    }

  }
  #kursthemaeingabe{
    height: min-content;
    position: relative;
    width: 100% !important;
    flex-basis: 100% !important;
    flex-grow: 1;
    flex-shrink: 1;
    label{
      flex-basis: 20% !important;
    }
    input{
      flex-basis: 80% !important;
    }
  }
  #autorenauswahl, #sprachauswahl {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start; 
    >div:first-child {
      display: flex;
      flex-flow: column nowrap;
      width: 40%;
      label{
        width:100%;
        //margin-bottom: 20px;
      }
      #sucheAutor, #sucheThema {
        margin: 7px 0 0 0px;
        width: 80%;
        height: 40px;
        background-color: $fourth-color;
        border: solid 1px;
        font-size: $normal;
        padding: 0 0 0 5px;
      }
    }
    >div:last-child{
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      flex-basis: 60%;
      border: solid 1px;
      border-radius: 0px;
      #kursAutor {
        padding: 10px;
        width: 50%;
        display: inline;
        max-height: 100px;
        background-color: $fourth-color;
        border: none;
      }
      /* #kursSprache{
        max-width: 50%;
        background-color: $fourth-color;
        border: none;
      } */
      }
      #authorsListToSave{
        display: inline;
        width: 100%;
        font-size: $small;
        list-style-type: none;
        padding: 10px;
        overflow: scroll;
        background-color: white;
      }
      #authorsAvailableListToSave{
        width: 100%;
      }
      #sprachListToSave {
        display: flex;
        flex-flow: row wrap;
        width: 100%;
        padding: 10px;
        gap: 5px;
        background-color: $cpdblue;
        //cursor: pointer;
        //width: fit-content
        #listOfLanguage{
          cursor: pointer;
          color: $fourth-color;
          &::after{
            content:", "
          }
          &:last-child{
            &::after{
              content:""
            }
          }
        }
      }
  }
  #autorenauswahl{
    order: 0;
  }
  #kursinhalteingabe{
    width: 100% !important;
    flex-basis: 100% !important;
    flex-grow: 1;
    flex-shrink: 1;
    #kursInhalt{
      height:fit-content;
      min-height: 100px;
      min-width: 80.3%;
      color: $fourth-color;
      &:focus{
        color: $cpdblue;
        font-size: larger;
      }
    }
    
  }

} //Letzte Zeile, Abschluss Main


#zugangsRechteInfo h2{
margin: 300px auto;
text-align: center;
//border: solid;
}

/* #professionalLevel{
  //max-width: 15%;
  padding: 10px;
  background-color: white;
  flex-basis:60%;

} */

#auswahlTopicField, 
#sprachOptionen, 
#listOfCourseTypes, 
#auswahlLevel{
  position: absolute; 
  list-style-type: none;
  padding: 0px;
  margin: 10px; 
  border: 5px solid $fourth-color; 
  border-radius: 5px;
  //right: 10px;
  top: -100%;
  right: 5% ;
  overflow-y: auto; 
  background-color: $cpdblue;
  color: $fourth-color;
  z-index: 1;
  li:hover{
    text-shadow: 0px 0px 10px;
  }
}
 
#spracheInput, 
#themenfeldInput, 
#kursTypInput, 
#levelInput{
  display: flex;
  justify-content: space-between;
  background-color: $cpdblue;
  width: 60%;
}

.edit-icon{
margin: auto 0;
color: $fourth-color;
background-color: $cpdblue;
list-style: none;
//border: white
}
#listOfLanguage{
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  //cursor: pointer; 
  font-size: $small;
}
#fileupload{
  width: 45%;
}

#autorenInput{
  width: max-content;
  top: -100%;
  right: 65% ;
  background-color: $cpdblue;
  z-index: 10;
  border: 5px solid $fourth-color;
  border-radius: 5px;
  input {
    //border: solid white !important;
    width: 100%;
    border-bottom: 1px solid $fourth-color; 
  }
  ul {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  box-sizing: border-box;
  overflow-y: auto;  
  padding: 0 !important;
  cursor: pointer;

  li, p{
    list-style-type: none;
    padding: 10px;
    margin: 0; 
    border-bottom: 1px solid $fourth-color; 
    width: auto;
    overflow-y: auto; 
    background-color: $cpdblue;
    color: $fourth-color;
    &:hover{
      text-shadow: 0px 0px 10px;
    } 
    }
  }
}

#listOfSelectedAuthors{
  background-color: $cpdblue;
  ul{
    background-color: $cpdblue !important;
    li{
      background-color: $cpdblue;
      color: $fourth-color;
      border-bottom: solid 1px;
      cursor: pointer;
      padding: 2px 0 2px;
      &:hover{
        text-shadow: 0px 0px 10px ;
      }
    }
  }
}

#kursactivated {
  background-color: $cpdblue;
  label {
    background-color: $fourth-color;
  }
  input{
    width: 5px;
    height: 5px;
    //appearance: none;
    margin: 10px 0;
    position: relative;
    display: block;
    accent-color: $fourth-color;
    //width: auto;
    background-color: $fourth-color;
  }
}
#kursnummer{
  max-height: 45px;
}

#levelInput{
  flex-basis: 60%;
  input{
    width: auto;
  }
}

#courseImages{
  display: flex;
  flex-flow: row nowrap;
  width: 100% !important;
  flex-basis: 100% !important;
  
  label{
    flex-basis: 24% !important;
  }
  #imagesContainer {
    flex-basis: 100% !important;
    background-color: black;
  }
}

.ant-modal-content {
  background-color: $first-color;
  font-family: $primary-font;
  max-width: 1280px;
  margin: 0 auto;
  //width: 100%;
  .ant-modal-header{
    background-color: transparent;
    //border: black solid;
    width: 90%;
    margin: 0 auto;
    div.ant-modal-title{
      //font-family: $primary-font;
      border-left : dotted 2px $cpdred; 
      border-right : dotted 2px $cpdred; 
      border-radius: 10px;
      text-align: center;
      display: block;
      margin: 10px 155px;
      padding: 10px;
      width: min-width;
      //background-color: black;
    }
  }
  div.ant-modal-footer{
  margin: 0 auto;
  width: 90%;

    #backButtonKursFinden:hover{
    color: $cpdblue;
    }
  }

  #themensuche {
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    margin: 10px auto;
    background-color: $fourth-color;
    box-shadow: $boxshadow;
    max-width: 930px;
    div {
      margin: 0 0 10px;
      border: solid black;
      display: flex;
      flex-flow: row nowrap;
      padding:  0px;
      background-color: $cpdblue;
      height: 35px;
      
      label {
        padding: 5px;
        width: 40%;
        height: 32px;
        background-color: $fourth-color;
        //border: solid;
      }
      input {
        //margin: 10px;
        height: 32px;
        width: 60%;
        background-color: $cpdblue;
        border: none;
        padding: 0 0 0 5px;
        color: $fourth-color;
        &:focus{
          color: $cpdblue;
          background-color: $fourth-color;
          box-shadow: inset 0px 0px 10px 0px $cpdred;
          border: none;
          /* scale: 130%;
          z-index: 10;
          position: relative;
          right: 10%; */
         outline-color:  $cpdred;
         outline-width: 0.5px;
        }
      }
    }
    #themenListe{
      width: 100%;  
      //background-color: $cpdblue ;
      list-style-type: none;
      margin: 0;
      padding: 0;
      //height: 300px;
      border: solid;
      
      li{
        background-color: $cpdblue;
        color: $fourth-color;
        border-bottom: solid $fourth-color;
        cursor: pointer;
        padding: 0 0 0 5px;
        height: 25px;
        &:first-child{
          //margin-bottom: 20px;
          padding-bottom: 10px;
          background-color: $fourth-color;
          color: $cpdblue;
          //border: solid;
        }
      }
      div{
        margin-top: 0px;
        padding-top: 10px;
        width: 100%;
        background-color: $fourth-color;
        border: none;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        p{
          color: $cpdblue;
          padding: 5px;
          display: block;
        
        }
      }
      #listeFooter{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        border-top: solid $cpdblue;
        padding: 0;
        margin: 0;
        label{
          background-color: $fourth-color;
          width: 35%; 
          //height: 40px;
          margin-right: 5px;
          padding:  5px;
          //border: solid $cpdblue;
          height: auto;
          vertical-align: middle;
          //line-height: inherit;
        }
        select{
          padding: 0 5px;
          //height: 38px;
          line-height: 38px;
          width: 20%;
          margin-left: 5px;
          background-color: $cpdblue;
          color: $fourth-color;
          &:focus{
            background-color: $cpdblue;
          color: $fourth-color;
          outline: none;
          }
          option{
            background-color: $cpdblue !important;
            color: $fourth-color;
          }
        }
        #movePages{
          display: flex;
          flex-flow: row nowrap;
          justify-content:center;
          gap: 30px;
          font-size: $large;
          //border: solid $cpdblue;
          width:fit-content;
          margin: 0 auto;
          background-color: transparent;
          vertical-align: middle;
          padding: 0;
          
        }
      }
    }
  }
}

