@import "../../scss/global.scss";


#loginMain {
  border-radius: $radiuslarge;
  width: 80%;
  max-width: 1280px;
  min-height: 500px;
  margin: 25vh auto;
  background-color: $first-color;
  box-shadow: $cpdblue 0px 0px 100px 50px inset, 0px 0px 15px 5px white;
  border: solid 2px white;
  font-family: $primary-font;
  padding-top: 20px;
  h2 {
    display: block;
    margin: 30px auto;
    padding: 20px;
    width:fit-content;
    font-size: $small;
    text-align: center;
    color: $cpdblue;
    border-left: dotted 3px $cpdred;
    border-right: dotted 3px $cpdred;
    border-radius:  20px ;
    }
  #loginForm {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    //align-items: center;
    gap: 20px;
    width: 60%;
    padding: 1.5rem 1rem;
    border-radius: 10px;
    box-shadow: $boxshadow;
    //background-color: $first-color;
    margin: 0 auto;
    //border: solid;
    div{
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-end;
      gap: 20px;
      //border: solid;
      label {
        //padding-left: 20px;
        flex-basis: 40%;
        //margin-left: 20px;
        align-items: flex-start;
      }
      input {
        border: solid 2px;
        padding: 10px;
        border-radius: 10px;
        //width: 25%;
        flex-basis: 65%;
        background-color: white;
        //margin-right: 20px;
        &:focus {
          color: $cpdred;
          &::placeholder {
            color: $cpdred;
          }
        }
      }
      #loginButton {
        max-width: 150px;
        color: $cpdblue;
        padding: 5px;
        border-radius: 10px;
        padding: 10px;
        :active{
          border: solid 5px;
        }
      }
    }
  }

  #toRegisterButton {
    display: block;
    //width: fit-content;
    margin: 1rem auto 3rem;
    //border: solid;
    a {
    background-color: none;
    color: $cpdblue;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    }
  }
  
  #ladeInfo {
    text-align: center;
    color: $first-color;
    margin-bottom: 30px;
  }
}

#loginForm label > input:focus {
  //background-color: var(--beige-color);
  //outline: 3px solid var(--middle-green-color);
}

/* #loginForm label > input::placeholder {
  color: $cpdred;
} */


/* @media screen and (max-width: 767px) {
  .LoginForm > h2 {
    font-size: 2rem;
  }

  .LoginForm > h2:last-of-type{
    margin-top: 1.5rem;
  }

  .LoginForm form,
  .toRegister {
    width: 95%;
    padding: 0.5rem;
  }

  .LoginForm form label {
    font-size: 1.5rem;
    margin-left: 2rem;
    width: 100%;
  }

  .LoginForm form label > input {
    max-width: 80%;
  }

  .LoginForm form {
    align-items: flex-start;
  }

  .LoginForm form > input {
    margin: 1.5rem auto;
  }

  .toRegister {
    font-size: $small;
  }
  
  .LoginForm form label > input {
    font-size: 1.5rem;
  }
}

@media screen and (min-width:1024px){
  .LoginForm form,
  .toRegister{
    width: 900px;
  }  
}
 */