@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css");
@font-face {
  font-family: "VIA-Verlag";
  src: url("../../fonts/VIA-Verlag.woff2") format("woff2"), url("../../fonts/VIA-Verlag.otf") format("otf");
}
@font-face {
  font-family: "BillboardShadow";
  src: url("../../fonts/Bilboard/Billboard-Shadow.woff2") format("woff2"), url("../../fonts/Bilboard/Billboard-Shadow.otf") format("otf");
}
@font-face {
  font-family: "Carbono";
  src: url("../../fonts/carbono/carbono.woff2") format("woff2"), url("../../fonts/carbono/carbono.otf") format("otf");
}
@font-face {
  font-family: "Vacaciones";
  src: url("../../fonts/vacaciones-outline/Vacaciones-font-ffp-defharo.woff2") format("woff2"), url("../../fonts/vacaciones-outline/Vacaciones-font-ffp-defharo.otf") format("otf");
}
@font-face {
  font-family: "CorporateDemi";
  src: url("../../fonts/Corporate/CorporateSTOT-Dem.woff2") format("woff2"), url("../../fonts/Corporate//CorporateSTOT-Dem.otf") format("otf");
}
@font-face {
  font-family: "CorporateReg";
  src: url("../../fonts/Corporate/CorporateSTOT-Reg.woff2") format("woff2"), url("../../fonts/Corporate/CorporateSTOT-Reg.otf") format("otf");
}
@font-face {
  font-family: "FallingSkyOu";
  src: url("../../fonts/Falling-Sky-Condensed-Outline/FallingSkyOu.woff2") format("woff2"), url("../../fonts/Falling-Sky-Condensed-Outline/FallingSkyOu.otf") format("otf");
}
@font-face {
  font-family: "Frederica";
  src: url("../../fonts/Fredericka_the_Great/FrederickatheGreat-Regular.woff2") format("woff2"), url("../../fonts/Fredericka_the_Great/FrederickatheGreat-Regular.otf") format("otf");
}
@font-face {
  font-family: "ChalkLine";
  src: url("../../fonts/chalk_line_outline/ChalkLine-Outline.woff2") format("woff2"), url("../../fonts/chalk_line_outline/ChalkLine-Outline.otf") format("otf");
}
@font-face {
  font-family: "Rampart";
  src: url("../../fonts/Rampart_One/RampartOne-Regular.woff2") format("woff2"), url("../../fonts/Rampart_One/RampartOne-Regular.otf") format("otf");
}
@font-face {
  font-family: "Thunderlord";
  src: url("../../fonts/thunder_lord/ThunderLord.woff2") format("woff2"), url("../../fonts/thunder_lord/ThunderLord.otf") format("otf");
}
@font-face {
  font-family: "FoundSanExpNorm";
  src: url("../../fonts/Foundry/FOUSANNO.woff2") format("woff2"), url("../../fonts/Foundry/FOUSANNO.otf") format("otf");
}
@font-face {
  font-family: "FoundSanBd";
  src: url("../../fonts/Foundry/FOUSANBD.woff2") format("woff2"), url("../../fonts/Foundry/FOUSANBD.otf") format("otf");
}
@font-face {
  font-family: "FoundSanExpMed";
  src: url("../../fonts/Foundry/FOUSANMD.woff2") format("woff2"), url("../../fonts/Foundry/FOUSANMD.otf") format("otf");
}
@font-face {
  font-family: "FoundSanExBold";
  src: url("../../fonts/Foundry/FOUSANEB.woff2") format("woff2"), url("../../fonts/Foundry/FOUSANEB.otf") format("otf");
}
* {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
* ::-webkit-scrollbar {
  display: none;
} /* $third-color: rgb(180, 200, 230); */
/* 
Persian Plum: #641b1a
Blue Chill: #118890
Blue Dianne: #225d63
Pine Green: #047c74 
*/
/* textsizes*/
/*$medium: 4rem;
$large: 10rem;
$huge: 20rem;

$border-radius:*/
/*Mediasetting*/
/* Fonts */
/* logos */
:root {
  --beige-transparent-color: #f4e3d7bb;
  --beige-color: #f4e3d7;
  --middle-green-color: #008000;
  --dark-green-color: rgb(0, 66, 0);
  --dark-color: #011b10;
  --dark-transparent-color: #011b1080;
}

.logo_cpd {
  width: 8%;
  margin-left: 0px;
  margin-right: 10px;
  right: 10px;
  align-items: right;
}

.LC {
  font-family: "VIA-Verlag";
  font-weight: bold;
  letter-spacing: -5px;
  line-height: normal;
  font-style: normal;
  color: rgb(100, 27, 26);
  font-size: 2.5rem;
  position: relative;
  bottom: -0.15rem;
}

.C {
  font-family: "VIA-Verlag";
  color: rgb(100, 27, 26);
  font-size: 1.3em;
  position: relative;
  top: 3px;
  /* bottom: -0.14em; */
  text-decoration: none;
  cursor: url(../images/point.png);
}

.Calli {
  font-family: "VIA-Verlag";
  line-height: normal;
  font-style: normal;
  font-size: 1.1rem;
  position: relative;
  bottom: -0.14em;
  text-decoration: none;
}

.LitCoin {
  font-family: "VIA-Verlag";
  font-style: normal;
  line-height: normal;
  color: rgb(100, 27, 26);
  font-size: 1.5em;
  position: relative;
  bottom: -0.14em;
}

.grad {
  background-image: linear-gradient(rgb(173, 173, 213), rgb(228, 150, 150));
  background-attachment: fixed;
}

.Trenner {
  margin: 50px auto;
  width: 5%;
  display: block;
}

body {
  margin: 0 auto;
  background-color: rgb(0, 0, 30);
  background-size: 100%;
  background-repeat: repeat-y;
  background-attachment: fixed;
  font-family: "FoundSanExpNorm", sans-serif;
  line-height: 1.2;
  letter-spacing: 0px;
  margin-top: 150px;
  overflow-x: hidden;
}

Header {
  position: fixed;
  top: 0px;
  left: 0px;
}

main {
  width: 80%;
  margin: 0 10%;
  z-index: 5;
  position: relative;
  border-radius: 20px;
  background-color: rgb(240, 255, 255);
  border: 2px solid rgb(240, 255, 255);
}

Footer {
  position: relative;
  bottom: 0;
}

/*Content --> nicht mehr relevant*/
/* #Content {
  width: 80%;
  margin: 0px auto;  
  z-index: 2;
} */
/* @media (max-width: $desktop){
  #Content {
    width: 100%;
  }
} */
@media (max-width: 760px) {
  body {
    background-image: none;
  }
  .drehmoment {
    display: none;
  }
  main {
    width: 100vw;
    margin: 0 0;
  }
  #navmain div {
    border: none;
  }
}
.LoginForm {
  opacity: 1;
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  border: none;
}

.LoginForm > h2 {
  width: 100%;
  font-size: 2rem;
  text-align: center;
  padding: 0.25rem 0.5rem;
  margin-top: 0rem;
  margin-bottom: 1.5rem;
  color: var(--beige-color);
  background-color: var(--dark-transparent-color);
  transition: font-size 1s ease-in;
}

.LoginForm > h2:last-of-type {
  margin-top: 3rem;
  transition: margin-top 1s ease-in;
}

.LoginForm form,
.toRegister {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  padding: 1.5rem 1rem;
  border-radius: 1.5rem;
  box-shadow: 0 0 1rem var(--dark-color);
  transition: width 1s ease-in, padding 1s ease-in;
}

.toRegister {
  text-align: center;
  transition: font-size 1s ease-in;
}

.LoginForm form label > input {
  height: 2.5rem;
  background-color: var(--beige-transparent-color);
  border-color: var(--middle-green-color);
  border-radius: 0.75rem;
  font-size: 2rem;
  padding-left: 0.5rem;
  transition: font-size 1s ease-in;
}

.LoginForm form > input {
  margin-top: 2rem;
  max-width: 100%;
}

.LoginForm form label > input:focus {
  background-color: var(--beige-color);
  outline: 3px solid var(--middle-green-color);
}

.LoginForm form label > input::-moz-placeholder {
  color: var(--dark-transparent-color);
}

.LoginForm form label > input::placeholder {
  color: var(--dark-transparent-color);
}

.LoginForm label {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-weight: bold;
  font-size: 2rem;
  margin-top: 1rem;
  transition: font-size 1s ease-in;
  transition: margin-left 1s ease-in;
  transition: width 1s ease-in;
}

.LoginForm label:last-of-type {
  margin-top: 1rem;
}

.loginButton {
  color: rgb(240, 255, 255);
  background-color: rgb(0, 0, 30);
  padding: 5px;
  border-radius: 5px;
}

@media screen and (max-width: 767px) {
  .LoginForm > h2 {
    font-size: 2rem;
  }
  .LoginForm > h2:last-of-type {
    margin-top: 1.5rem;
  }
  .LoginForm form,
  .toRegister {
    width: 95%;
    padding: 0.5rem;
  }
  .LoginForm form label {
    font-size: 1.5rem;
    margin-left: 2rem;
    width: 100%;
  }
  .LoginForm form label > input {
    max-width: 80%;
  }
  .LoginForm form {
    align-items: flex-start;
  }
  .LoginForm form > input {
    margin: 1.5rem auto;
  }
  .toRegister {
    font-size: 2rem;
  }
  .LoginForm form label > input {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 1024px) {
  .LoginForm form,
  .toRegister {
    width: 900px;
  }
}/*# sourceMappingURL=LoginForm.css.map */