@import '../../scss/global.scss';

//.buttonAccount {
#buttonShowAccount {
  //display: none; 
   display: block;
   position: fixed;
   top: 155px;
   right:calc(10% - 10px);
   //left: calc(90% - 59px);
   transform: translateY(33px) rotate(-90deg); 
   color: $first-color;
   background-color: $cpdblue;
   box-shadow: $btnshadowsmall;
   width: 75px;
   height: 40px;
   border: 1px solid grey;
   border-radius: 10px;
   padding: 2px 0 0 0;
   font-size: $small;
   font-family: $primary-font;
   line-height: 15px;
   z-index: 0;
   cursor: pointer;
   &.buttonZeroPosition {
    right:calc(10% - 10px);
    //left: calc(90% - 39px);
    transform: translateY(33px) rotate(-90deg);
   }
   &.buttonFirstPosition {
    right:calc(10% - 36px);
    //left: calc(90% - 40px);
    transform: translateY(33px) rotate(-90deg);
   }
   &.showBut {
    right:calc(10% - 36px);
    transition: 0.5s ease-in-out;
    line-height: 15px;
    }
   &.hideBut {
    right:calc(10% - 10px);
    transition: 0.5s ease-in-out;
    line-height: 15px;
    }
   &.moveButton {animation: moveButton 1s 0s ease-in-out forwards}
   &.moveButtonBack {animation: moveButtonBack 1s 0s ease-in-out forwards}
   &.moveButtonBackToStart {animation: moveButtonBackToStart 1.5s ease-in-out forwards}
  }
  
  @keyframes moveButton {
    0%  {transform:  translateY(33px) rotate(-90deg); z-index:0; right:calc(10% - 36px);line-height: 15px;color: $first-color; background-color:$cpdblue}
    90%  {z-index: 0;background-color: $first-color; color: $cpdblue}
    100% {transform: rotate(0deg);z-index: 10; right: 33px;line-height: 15px;background-color: $first-color; color: $cpdblue}
  }
  @keyframes moveButtonBack {
    0%  {transform: rotate(0deg);z-index:10;right: 33px;line-height: 15px; background-color: $first-color; color:$cpdblue} 
    50% {z-index: 0;}
    90% {color: $first-color; background-color:$cpdblue}
    100% {transform:  translateY(33px) rotate(-90deg); right:calc(10% - 36px);line-height: 15px}
    }
  @keyframes moveButtonBackToStart {
    0%  {transform: rotate(0deg);z-index:10;right: 33px;line-height: 15px; background-color: $first-color; color: $cpdblue}
    50% {z-index: 0;}
    90% {color: $first-color; background-color:$cpdblue}
    100% {transform:  translateY(33px) rotate(-90deg);z-index:0;right:calc(10% - 10px);line-height: 15px} 
  }

// Account Container
 .accountAside {
   display: block;
   transform: translateX(-120%) scale(90%); 
   z-index: -1; 
   position: fixed;
   top: 180px;
   right: 0;
   opacity: 0; 
   background-color: $first-color;
   box-shadow: $boxshadow;
   width: 15vw;
   min-width: 200px;
   max-width:250px;
   height: auto;
   padding: 10px;
   margin-right: 20px;
   font-size: $small;
   border-radius: 5px;
   >p {
     margin-top: 10px;
   }
   >p:first-of-type>span {
     font-weight: bold;
     font-style: normal;
     font-size: $xxlarge;
   }
   img {
     width:30%;
     float: right;
     margin-left: 0px;
     margin-top: 15px;
   }
   &.showAccount {animation: show_home_aside 2s ease-in-out forwards}
   &.hideAccount {animation: hide_home_aside 2s ease-in-out forwards}
  }
  
 
  @keyframes show_home_aside {
    0%  {opacity:0; display: none;}
    1%  {transform: translateX(-120%) scale(90%); display: block; z-index: -1;opacity: 1;display: block;}
    30% {z-index:1; display: block;}
    60% {transform: translateX(60%) scale(90%); display: block;}
    100% {transform: translateX(0%) scale(100%); z-index:9; display: block; opacity: 1}
    }
 @keyframes hide_home_aside {
   0%  {transform: translateX(0%);z-index:9; opacity: 1}
   30% {transform: translateX(60%) scale(90%) }
   60% {z-index:1}
   99% {transform: translateX(-120%) scale(90%); z-index: -1; opacity: 1}
   100% {transform: translateX(-120%) scale(90%); z-index: -1; opacity: 0; display: none;}
   }
 
     
 #home_data{
   border: 2px dotted black;
   background-color:$fourth-color;
   border-radius: 5px;
   padding: 5px;
   margin: 0 auto;
   p{
     margin: 2px 0 2px 5px;
     font-family: $primary-font;
     font-weight:900;
   }
   div {
     font-size: $xsmall;
     display: flex;
     flex-direction: row; 
     flex-wrap: nowrap;
     justify-content: space-around;
     width: 100%;
     padding: 3px;
     div {
       display: block;
       box-shadow: none; 
       text-align:center;
       font-size: 0.5rem; 
       p{
         display: flex;
         background-color: $third-color;
         text-align:center;
         justify-content:center;
         padding: 3px;
         margin: 0 auto;
         width: 90%;
         border: none;
         border-radius: 3px;
         font-size: 0.75rem;
         font-weight:900;
         color: $secondary-color;
       }
       p[id^="ma"]{
         background-color: transparent;
         border: 1px solid $third-color;
         color: $third-color;
         font-size: $xsmall;
       }
     }
   }
 }
   
 #home_data>div:first-of-type {
   border-bottom: 2px dotted black;
 }
 #home_data>div:last-of-type>div output{
   margin-top: 5px;
 }
 
 #aside_gutbox {
   display:flex;
   justify-content: center;
   gap: 5px;
   align-items:center;
   margin: 10px auto; 
   padding: 0 10px 0 10px;
   width: 75%;
   height: 45px;
   border: 2px dotted $cpdred;
   border-radius: 10px;
   background-color:$fourth-color;
   #aside_guthaben {
     display: inline;
     text-align: end;
     font-size: $xxlarge;
     font-family: $guthaben;
     font-weight: bold;
     line-height:45px;
     //border:solid black;
     color: $cpdred-o;
     background-color: transparent;
     -webkit-text-stroke: 2px rgba(0, 0, 0, 0.500);
     //-webkit-text-fill-color: 2px white;
     letter-spacing: -2px;
     p {
       -webkit-text-stroke: 2px white;
       line-height: 45px;
     }
   }
 }

 /* @media (max-width: $tablet){
  #buttonShowAccount, .accountAside {
    //display: none;
    z-index: -10;
    } 
 }
 @media (min-width: calc($tablet + 1px)){
  #buttonShowAccount, .accountAside {
    z-index: 1;
    } 
 } */

@media (min-width: 1600px){
  #buttonShowAccount {
  display: block; 
  //display: inline-block;
  position: fixed;
  top: 155px;
  left: calc(100% - ((100% - 1280px) / 2) - 60px);
  line-height: 15px;
  //z-index: 100;
  &.showBut {
    left: calc(100% - ((100% - 1280px) / 2) - 39px);
    transition: 0.5s ease-in-out;
    line-height: 15px;
    }
  &.hideBut {
    left: calc(100% - ((100% - 1280px) / 2) - 60px);
   }
}
  @keyframes moveButton {
    0%  {transform:  translateY(33px) rotate(-90deg); z-index:0; left: calc(100% - ((100% - 1280px) / 2) - 39px);line-height: 15px;color: $first-color; background-color:$cpdblue}
    90%  {z-index: 0;background-color: $first-color; color: $cpdblue}
    100% {transform: rotate(0deg);z-index: 10; left: calc(100% - ((100% - 1280px) / 2) + 60px);line-height: 15px;background-color: $first-color; color: $cpdblue}
  }
  @keyframes moveButtonBack {
    0%  {transform: rotate(0deg);z-index:10;left: calc(100% - ((100% - 1280px) / 2) + 60px);line-height: 15px; ;background-color: $first-color; color: $cpdblue} 
    50% {z-index: 0;}
    90%  {color: $first-color; background-color: $cpdblue}
    100% {transform:  translateY(33px) rotate(-90deg); left: calc(100% - ((100% - 1280px) / 2) - 39px);line-height: 15px}
    }
  @keyframes moveButtonBackToStart {
    0%  {transform: rotate(0deg);z-index:10;left: calc(100% - ((100% - 1280px) / 2) + 60px);line-height: 15px}
    50% {z-index: 0;}
    100% {transform:  translateY(33px) rotate(-90deg);z-index:0;left: calc(100% - ((100% - 1280px) / 2) - 60px);line-height: 15px} 
  }

  .accountAside {
    left: calc(100% - ((100% - 1280px) / 2) - 100px);
  }

  @keyframes show_home_aside {
    0%  {opacity:0; display: none;}
    1%  {transform: translateX(-120%) scale(90%); display: block; z-index: -1;opacity: 1;display: block;}
    30% {z-index:1; display: block;}
    60% {transform: translateX(60%) scale(90%); display: block;}
    100% {transform: translateX(0%) scale(100%); z-index:9; display: block; opacity: 1}
    }
  @keyframes hide_home_aside {
    0%  {transform: translateX(0%) scale(100%);z-index:9; opacity: 1}
    30% {transform: translateX(60%) scale(90%) }
    60% {z-index:1}
    99% {transform: translateX(-120%) scale(90%); z-index: -1; opacity: 1}
    100% {transform: translateX(-120%) scale(90%); z-index: -1; opacity: 0; display: none;}
    }
}