@import "../../scss/global.scss";

#courseMain {
  position: relative;
  min-height: 60vh;
  margin-top: -20px;
  background-color: $first-color;
  //background-color: $secondary-color;
  //border-color: $cpdred;
  //max-width: 1200px;
  box-shadow: $mainshadow;
  
   >div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    //border: solid;
    width: 80%;
    //max-width: 1000px;
    margin: 40px auto 10px;
    h2{
      display: inline;
      color: $first-color;
      color: $cpdblue;
      width: 80%;
      margin: 10px 30px ;
      font-family: $primary-font-bold;
      //border: solid;
    }
    
    #returnOnCoursePage {
      display: inline; 
      height: 60px;
    }
  }
  #courseArticle {
    display: flex;
    flex-flow: row wrap;
    justify-content:flex-start;
    gap: 10px;
    width: 80%;
    //max-width: 1000px;
    margin: 0px auto;
    padding: 20px;
    border-left: dotted;
    border-right: dotted;
    border-radius: $radiuslarge;
    border-width: 3px;
    border-color: $first-color;
    border-color: $cpdred;
    
    .boxGroup {
      display: flex;
      flex-flow: row nowrap;
      
      //height: auto;
      //border: solid;
      div{
        margin-bottom: 0px;
        padding: 0;
      }
      div:first-child p{
        border-radius: 10px 0 0px 0px;
        border-right: none;
        margin: 0px;
      }
      div:last-child p{
        //background: blue;
        border-radius: 0px 10px 0px 0px;
        margin: 0px;
      }
      div:first-child div{
        border-radius: 0px 0 0px 10px;
        border-right: none;
        margin: 0px;
      }
      div:last-child div{
        //background: blue;
        border-radius: 0px 0px 10px 0px;
        margin: 0px;
      }
    }
    div {
      display: flex;
      flex-flow: column nowrap;
      border-radius: $radiussmall;
      flex-shrink: 1;
      margin-bottom: 0px;
      min-width: 200px;
      //box-shadow: $boxshadow;
      &#boxAutor{
      max-width: 300px;
      }
      >p{
        line-height: 0px; 
        margin: 0;
        padding: 15px 10px ;
        font-size: $small;
        font-family:$primary-font;
        background-color: $cpdblue;
        //background-color: $first-color;
        //background: linear-gradient($first-color, $cpdblue );
        color: $fourth-color;
        border-radius: 10px 10px 0 0 ;  
        border: solid;
        border-bottom: none;
        border-color: $cpdred;    
      }
      .output {
        font-size: $normal;
        padding: 5px 10px;
        width: 100%;
        background-color: $first-color; 
        background-color: $fourth-color;  
        color: $cpdblue;
        text-align:left; 
        border-radius: 0 0 10px 10px; 
        border-color: $cpdred;
        border: solid; 
        //box-shadow: $boxshadow;
      } 
      
      #boxBookingNo{
        flex-basis: 4;
        flex-shrink: 1;
      }
      #courseTopic{
        flex-basis: 100%;  
      }
      #author{
        list-style-type: none;
        color: $first-color;
        #authorsLink{
          text-decoration-line: none;
          color: $cpdblue;
        }
        &:before{
          content: 'C ';
          font-family: VIA-Verlag;
          font-size: $large;
          color: $cpdred;
          vertical-align: -2px;
        }
      }
      
      #author:hover {
        #authorsLink:hover {
          color: $cpdred;
        }
      }
      #courseField, #courseTopicField{
        flex-basis: 100%;
      }
      #courseContent{ 
        font-size: $normal; 
        line-height: 2rem;  
        #contentImages{
          width: 100%;
          display: flex;
          flex-flow: row wrap;
          justify-content: flex-start;
          gap: 10px;
          margin-top: 0px;  
          img{
            flex-basis: auto;
          }
        }
      }
      /* .punkte {
        text-align: left;
      } */
      #professionalLevel {
        display: inline;
        padding-bottom: 5px;
      }
    }
  } 
  #buttonBottom{
    
    margin: 10px auto 50px;
  }
  

  @media (max-width: $tablet){
    .boxGroup {
      flex-flow: column nowrap;
    }
  }
}
