@import "../../scss/global.scss";

#courseMain {
  position: relative;
  min-height: 60vh;
  margin-top: 100px;
  background-color: $first-color;
  //background-color: $cpdblue;
  //border-color: $cpdred;
  //opacity: 0.9;
  //max-width: 1200px;
  
   >div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    //border: solid;
    width: 80%;
    //max-width: 1000px;
    margin: 20px auto;
    h2{
      display: inline;
      color: $first-color;
      color: $cpdblue;
      width: 80%;
      margin: 10px 30px ;
      font-family: $primary-font-bold;
      //border: solid;
    }
    
    .buttonBasics {
      vertical-align: middle;
      width: 60%;
      height: 40px;
      max-width: 150px;
      margin: 0px ;
      font-size: $xsmall;
      padding: 0.5rem 0.5rem;
      background-color: $first-color;
      //background-color: $cpdred;
      //background-color: $cpdblue;
      color: $cpdblue;
      //color: $first-color;
      box-shadow: $btnshadowsmall;
      border-radius: $radiussmall;
      text-decoration: none;
      border: none;
    }
    .buttonBasics:hover {
      background-color: $cpdblue;
      //background-color: $cpdred;
      color: $first-color;
    }
    #returnOnCoursePage {
      display: inline; 
      height: 60px;
    }
  }
  #courseArticle {
    display: flex;
    flex-flow: row wrap;
    justify-content:flex-start;
    column-gap: 20px;
    width: 80%;
    //max-width: 1000px;
    margin: 0px auto;
    padding: 20px;
    border-left: dotted;
    border-right: dotted;
    border-radius: $radiuslarge;
    border-width: 3px;
    border-color: $first-color;
    border-color: $cpdred;
    
    .boxGroup {
      display: flex;
      flex-flow: row nowrap;
      
      //height: auto;
      //border: solid;
      div{
        margin-bottom: 10px;
        padding: 0;
      }
      div:first-child p{
        border-radius: 10px 0 0px 0px;
        border-right: none;
        margin: 0px;
      }
      div:last-child p{
        //background: blue;
        border-radius: 0px 10px 0px 0px;
        margin: 0px;
      }
      div:first-child div{
        border-radius: 0px 0 0px 10px;
        border-right: none;
        margin: 0px;
      }
      div:last-child div{
        //background: blue;
        border-radius: 0px 0px 10px 0px;
        margin: 0px;
      }
    }
    div {
      display: flex;
      flex-flow: column nowrap;
      border-radius: $radiussmall;
      flex-shrink: 1;
      margin-bottom: 10px;
      min-width: 200px;
      //box-shadow: $boxshadow;
      &#boxAutor{
      max-width: 300px;
      }
      >p{
        line-height: 0px; 
        margin: 0px 0 0px 0;
        padding: 10px 20px;
        color: $cpdblue;
        font-size: $normal;
        font-family:$primary-font;
        background-color: $first-color;
        background-color: $fourth-color;
        background: linear-gradient($first-color, $fourth-color );
        border-radius: 10px 10px 0 0 ;  
        border: solid;
        border-bottom: none;
        border-color: $cpdred;    
      }
      .output {
        font-size: $normal;
        padding: 10px 20px;
        width: 100%;
        background-color: $first-color;  
        color: $cpdblue;
        text-align:left; 
        border-radius: 0 0 10px 10px; 
        border-color: $cpdred;
        border: solid; 
        //box-shadow: $boxshadow;
      } 
      
      #courseTopic{
        flex-basis: 100%;  
      }
      #author{
        list-style-type: none;
        color: $first-color;
        #authorsLink{
          text-decoration-line: none;
          color: $cpdblue;
        }
      }
      
      #author:hover:before{
        content: 'C ';
        font-family: VIA-Verlag;
        font-size: $large;
        color: $cpdred;
        vertical-align: -2px;
      }
      #author:hover {
        //background-color: $cpdblue;
        padding: 3px;
        //font-weight: 700;
        border-radius: 5px;
        box-shadow: $btnshadow;
        position: relative;
        left: -20px;
        padding-right: 20px;
        width: calc(100% + 40px);
        #authorsLink:hover {
          color: $cpdred;
        }
      }
      #courseField, #courseTopicField{
        flex-basis: 100%;
      }
      #courseContent{ 
        font-size: $normal; 
        line-height: 2rem;  
        
        #contentImages{
          width: 100%;
          display: flex;
          flex-flow: row wrap;
          justify-content: flex-start;
          gap: 10px;
          margin-top: 0px;  
        }
      }
      /* .punkte {
        text-align: left;
      } */
      #professionalLevel {
        display: inline;
        padding-bottom: 0;
      }
    }
  } 
  
}
