@import "./typography/typography.scss";
@import "./reset/reset.scss";
@import "./variables/variables.scss";


body {
  margin: 0 auto;
  background-color: $cpdblue;
  background-size: 100%;
  background-repeat:repeat-y;
  background-attachment: fixed;
  font-family: $primary-font;
  line-height: 1.2;
  letter-spacing: 0px;
  margin-top:150px;
  overflow-x: hidden; 
  height: auto; 
}
  
main {
  //display: none;
  width: 80%;
  max-width: 1280px;
  margin: -20px auto 50px;
  z-index: 5;
  position: relative;
  border: solid white 2px;
  border-radius: 20px;
  background-color: $first-color;
  border:2px solid $first-color;
  
  //box-shadow:0px 0px 15px 5px white;
}


.logo_cpd {
  width: 8%;
  margin-left:0px;
  margin-right:10px;
  right:10px;
  align-items:right;
}

.LC {
  font-family: $calli;
  font-weight: bold;
  letter-spacing: -5px;
  line-height: normal;
  font-style: normal;
  color: $cpdred;
  font-size: 2.5rem;
  position: relative;
  bottom: -0.15rem;
}

.C {
  font-family: $calli;
  color: $cpdred;
  font-size: 1.3em;
  position:relative;
  top: 3px;
  /* bottom: -0.14em; */
  text-decoration:none;
  cursor: url(../images/point.png);
}

.Calli {
  font-family: $calli;
  line-height: normal;
  font-style: normal;
  font-size: $normal;
  position:relative;
  bottom: -0.14em;
  text-decoration:none;
  }

.LitCoin {
  font-family: $calli;
  font-style: normal; 
  line-height: normal;
  color: $cpdred; 
  font-size: 1.5em;
  position:relative; 
  bottom: -0.14em;
}

.grad {
  background-image: linear-gradient(rgb(173, 173, 213), rgb(228, 150, 150));
  background-attachment:fixed;
}
 
.Trenner {
  margin: 50px auto;
  width: 5%;
  display:block;
}

.buttonBasics {
  //vertical-align: middle;
  width: 60%;
  height: 40px;
  max-width: 120px;
  margin: 0px ;
  font-size: $xsmall;
  padding: 10px;
  background-color: $first-color;
  background-color: white;
  color: $cpdblue;
  box-shadow: $btnshadow;
  border-radius: $radiussmall;
  text-decoration: none;
  border: none;
  cursor: pointer;
  &:hover{
    background-color: $cpdblue-10;
  }
  &:active {
    //background-color: white;
    box-shadow: $btnshadowpressed;
    background-color: $first-color;
    //border: solid 2px;
  }
  a {
    color: $cpdblue;
    border-radius: $radiussmall;
    text-decoration: none;
    cursor: pointer;
    }
}
.actionButtons{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  gap: 0px;
}

.headBox{
  margin: 20px auto 30px;
  width: fit-content;
  //border: solid;
  h2 {
    display: block;
    padding: 20px;
    width:fit-content;
    margin: 70px auto 0px;
    font-size: $small;
    font-weight: bold;
    text-align: center;
    color: $cpdblue;
    border-left: dotted 3px $cpdred;
    border-right: dotted 3px $cpdred;
    border-radius:  20px ;
    //box-shadow: $boxshadow;
    }
  p{
    display: block;
    margin: 0px auto 0px;
    padding: 0px;
    width:fit-content;
    font-size: $small;
    text-align: center;
    color: $cpdblue;
    background-color: transparent;
    border: none;
    &:hover {
      color: $cpdred;
      text-shadow: 1px 1px 20px $cpdred;
    }
    &:before {
      content: "C ";
      font-family: $calli;
      color: $cpdred;
      font-size: calc($normal + 2px);
      vertical-align: -3px;
    }
    
    //box-shadow: $boxshadow;
  }
}
/* .buttonBasics:focus {
  background-color: $cpdred;
} */

.swal-html{
border-radius: 20px;
background: blue;
}

.swal-text {
  color: $cpdblue;
  border-left: dotted 2px $cpdred;
  border-right: dotted 2px $cpdred;
  border-radius: 10px;
  width: fit-content;
  margin: 0 auto;
  font-size: $normal;
}

.swal-button,
.swal-button--confirm {
  color: $first-color;
  background-color: $cpdblue;
  box-shadow: $btnshadow;
}

.swal-button:hoover,
.swal-button--confirm:hoover {
  color: $cpdblue;
  background-color: $first-color;
  box-shadow: $btnshadow;
}

.swal2-deny, .swal2-cancel, .swal2-confirm{
  width: 80%;
  height: 40px;
  max-width: 200px;
  margin: 10px ;
  padding: 10px;
  background-color: $first-color;
  box-shadow: $btnshadow;
  border-radius: $radiussmall;
  text-decoration: none;
  border: none; 
  &:hover{
    background-color: $cpdblue-10;
  }
}
.swal2-styled{
  background-color: $cpdblue-10 !important;
  box-shadow: $btnshadow !important;
  width: 120px;
  border-radius: 10px !important;
  margin-bottom: 20px !important;
  color: $cpdblue !important;
  font-size: $xsmall  !important;
  &:hover{
    background-color: $cpdblue-50 !important;
    color: $first-color !important;
  }
  &:active{
    background-color: $cpdblue !important;
  }
}
.swal2-popup{
  background: $first-color;
  box-shadow: $swalshadow;
  border-radius: 20px;
  width: 60%;
  //border: white 5px !important;
}
.swal2-title{
  color: $cpdred;
  color: $cpdblue;
  width: 80%;
  margin: 0 auto;
}
/* .swal2-icon {
  
} */

/* .containerBox{
  background: aqua;
} */
.containerBox{
  background: white;
  border-radius: $small;
  border: solid 3px $cpdblue;
  box-shadow: $boxshadow;
}


    
@media (max-width: $tablet){
  body {
    background-image: none;
  }
  .drehmoment {
    display: none;
  }
  main {
    width: 100%;
    margin: 0 0;
  }
  
  #navmain div {
    border: none;
  }
}
  
  
    