@import "../../scss/global.scss";


#registerMain{
  border-radius: $radiuslarge;
  width: 80%;
  max-width: 1280px;
  min-height: 600px;
  margin: 250px auto 0;
  //background-color: $cpdred;
  background-color: $first-color;
  font-family: $primary-font;
  vertical-align: middle;
  //border: none;
  box-shadow: $cpdblue 0px 0px 100px 50px inset, 0px 0px 15px 0px white;
}

#registerMain h2 {
    display: block;
    margin: 50px auto;
    padding: 20px;
    width:fit-content;
    font-size: $small;
    text-align: center;
    color: $cpdblue;
    border-left: dotted 3px $cpdred;
    border-right: dotted 3px $cpdred;
    border-radius:  20px ;
}

#registerMain form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-size: 1rem;
  margin: 0 auto;
  width: 40%;
  min-width: 400px;
  //border: solid;

}

#stepOne,
#stepTwo,
#stepThree {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 20px;
  width: 100%;
  padding: 1.5rem 1rem;
  border-radius: $radiussmall;
  box-shadow: $boxshadow;
  transition: width 1s ease-in;
  background-color: $first-color;
  //border: solid;
  div{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    gap: 0px;
    width: 100%;
    //border: solid;
    label {
      //padding-left: 20px;
      flex-basis: 40%;
      //margin-left: 20px;
      align-items: flex-start;
      //border: solid;
    }
    input {
      border: solid 2px;
      padding: 10px;
      height: 35px;
      border-radius: 10px;
      //width: 25%;
      flex-basis: 60%;
      background-color: white;
      &:focus {
        color: $cpdred;
        &::placeholder {
          color: $cpdred;
        }
      }
    }
  }
}

#stepTwo {
  
  h4 {
    display: block;
    padding: 20px;
    width:fit-content;
    font-size: $small;
    text-align: center;
    color: $cpdblue;
    border-left: dotted 3px $cpdred;
    border-right: dotted 3px $cpdred;
    border-radius:  20px ;
  }
  #radioGenderButtons{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 10px;
    line-height: 25px;
    text-align: center;
    width: 60%;
    //border: solid;
  }
}
#buttonBoxStepTwo, #buttonBoxStepThree{

  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  gap:20px;
  border-top: solid;
  padding-top: 10px;
}



/* #stepOne div > label {
  display: flex;
  flex-wrap: wrap;
  align-items:flex-start;
  justify-content: space-between;
  width: 100%;
  //border: solid;
} */

/* #stepThree > label {
  transition: font-size 1s ease-in, width 1s ease-in, margin-left 1s ease-in;
} */

#registerMain sup {
  color: var(--middle-green-color);
  font-weight: bold;
}

#infoUsername {
  position: relative;
}

#infoUsername:before {
  content: "Ihr Benutzername muss zwischen 4 und 20 Zeichen lang sein";
}

#infoFirstName:before {
  content: "Bitte geben Sie Ihren Vornamen ein";
}

#infoLastName:before {
  content: "Bitte geben Sie ihren Nachnamen ein";
}

#infoLocation:before {
  content: "Bitte geben Sie Ihre Stadt ein";
}
#infoEmail:before {
  content: "Geben Sie bitte Ihre Email-Adresse ein";
}
#infoPsw:before {
  content: "Ihr Passwort muss mindestens 8 Zeichen lang sein und eine Zahl, einen Groß- und einen Kleinbuchstaben enthalten.";
}

#infoUsername:before,
#infoFirstName:before,
#infoLastName:before,
#infoEmail:before,
#infoPsw:before,
#infoUsername:after,
#infoFirstName:after,
#infoLastName:after,
#infoEmail:after,
#infoPsw:after {
  background-color: $first-color;
  color: var(--middle-green-color);
  font-weight: bold;
  text-align: center;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  transition: opacity 1s ease-in-out;
  //border: 2px solid var(--dark-color);
  position: absolute;
  z-index: 1;
  visibility: hidden;
  opacity: 0;
}

#infoUsername:after,
#infoFirstName:after,
#infoLastName:after,
#infoLocation:after,
#infoEmail:after,
#infoPsw:after {
  content: "Pflichtfeld!";
  color: red;
  margin-top: -3rem;
  transition: opacity 0.5s ease-in-out;
}

#infoUsername:hover::before,
#infoFirstName:hover::before,
#infoLastName:hover::before,
#infoLocation:hover::before,
#infoEmail:hover::before,
#infoPsw:hover::before,
#infoUsername:hover::after,
#infoFirstName:hover::after,
#infoLastName:hover::after,
#infoLocation:hover::after,
#infoEmail:hover::after,
#infoPsw:hover::after {
  opacity: 1;
  visibility: visible;
}

#textKonto{
  display: block;
  margin: 30px auto 0px;
  padding: 0px;
  width:30%;
  font-size: $small;
  text-align: center;
  color: $cpdblue;
  //border-left: dotted 3px $cpdred;
  //border-right: dotted 3px $cpdred;
  border-radius:  20px;
  //border: solid;
}
/* #buttonBoxStepThree{
  display: flex;
  flex-flow: row nowrap;
  justify-content:flex-end;
  width: 40%;
  margin: 0px auto;
  gap: 20px;
  border: solid;
} */

#registerButtonBox{
  display: flex;
  flex-flow: row nowrap;
  justify-content:center;
  width: 40%;
  margin: 20px auto;
  gap: 20px;
  //border: solid;
}

#footerInForm p{
  width:fit-content;
  margin: 0 auto;
  //border: solid;
  text-align:center;
  
    margin-top: 20px;
  
}

/* #bereitsRegistriert:hover {
  background-color: $cpdblue-10;
    //color: $first-color;
} */




/* @media screen and (max-width: 767px) {
  .RegisterForm h2 {
    font-size: 2.25rem;
  }
  
  #stepOne,
  #stepTwo,
  #stepThree {
    width: 95%;
  }
  
  #stepOne > label,
  #stepThree > label {
    font-size: 1.75rem;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 2rem;
    width: 100%;
  }
  
  #stepOne > label input[type="text"],
  #stepTwo input[type="text"],
  #stepThree input[type="password"],
  #stepThree input[type="email"] {
    font-size: 1.5rem;
    margin-top: -0.5rem;
    width: 90%;
    transition: font-size 1s ease-in,margin-top 1s ease-in, width 1s ease-in;
  }
  
  
  #stepTwo .radio {
    display: flex;
    flex-direction: column;
  }
  
  #stepTwo .checked {
    font-size: 1.25rem;
    transition: font-size 1s ease-in;
  }
  
  #stepTwo h3 {
    font-size: 2rem;
    text-align: center;
    transition: font-size 1s ease-in;
  }
  
  #infoUsername:before,
  #infoFirstName:before,
  #infoLastName:before,
  #infoLocation::before,
  #infoEmail:before,
  #infoPsw:before,
  #infoUsername:after,
  #infoFirstName:after,
  #infoLastName:after,
  #infoLocation:after,
  #infoEmail:after,
  #infoPsw:after {
    transform: translateX(-90px);
  }
  
  .RegisterForm > div:last-child {
    margin-left: 2.5%;
    transition: margin-left 1s ease-in;
  }
} 


@media screen and (min-width:1024px){
  #stepOne,
  #stepTwo,
  #stepThree {
    width: 900px;
  }

  .RegisterForm > div:last-child{
    margin-left: calc((100vw - 900px) / 2);
  }
} */
