.customizable-image {
   position: relative;
   display: inline-block;
   cursor: pointer;
   border-radius: 50%;
   width: 75px; /* Fixed container size */
   height: 75px; /* Fixed container size */
   background-size: cover;
   background-position: center;
   overflow: hidden;
   background-repeat: no-repeat;
 }
 
 .slider-container {
   margin-top: 0px;
   
 }
 #sizeHandler{
   //border: solid;
 }
