@import "../../scss/global.scss";

#accountMain {
  margin: -0px auto 50px;
  //height: auto;
  box-shadow: $mainshadow;
  //display: none;
  section {
    width: 80%;
    margin: 0 auto;
    display: block;
    margin-top: 20px;
    border-right: 3px dotted $cpdred;
    border-left: 3px dotted $cpdred;
    border-radius: 20px;
    .accountHead{
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      margin-right: 30px;
      height: 30px;
      //border: solid;
      h3 {
        font-family: $primary-font-bold;
        margin: 0 30px ;
        padding-top: 5px;
        &:before {
          content: "C ";
          font-family: $calli;
          color: $cpdred;
          font-size: calc($normal + 2px);
          vertical-align: -1px;
        };
        &:hover {
          text-shadow: $text-shadow;
          cursor: pointer;
        }
      } 
    }
    /* .bildLaden{
      &:before {
        content: "C ";
        font-family: $calli;
        color: $cpdred;
        font-size: calc($normal + 0px);
        vertical-align: -2px;
      };
      &:hover {
        //color: $cpdred;
        text-shadow: $text-shadow;
        cursor: pointer;
      }
    } */
    .slider-container {
      display: flex;
      flex-flow: column nowrap;
      padding: 0 5px;
      gap: 0;
      //border: solid 1px;
      input p{
        margin: 0;
        padding: 0;
      }
    }
    .accountData{
      display: flex;
      flex-flow: row wrap;
      gap: 10px 0px;
      padding-bottom: 20px;
      width: 100%;
      height: auto;
      font-size: $small;

      //border: solid;
      //justify-content: space-around;
      > div {
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        gap: 10px;
        margin: 10px auto 0;
        padding: 10px;
        width: 45%;
        //min-width: 45%;
        height: auto;
        background-color: $fourth-color;
       /*  border-right: dotted $cpdred 2px;
        border-left: dotted $cpdred 2px; */
        border-radius: $radiussmall;
        box-shadow: $boxshadow;
        > div {
          display: flex;
          flex-flow: row nowrap;
          justify-content: space-between;
          /* border-right: dotted $cpdred;
          border-left: dotted $cpdred;
          border-radius: 5px; */
          border: solid $cpdblue;
        }
      }
      .fieldName {
        width: 50%;
        max-width: 40%;
        padding: 10px;
        min-height: 30px;
        line-height: 30px;
        font-family: $primary-font;
        font-size: $small;
      }
    
      .output, .input {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        line-height: 30px;
        font-size: $small;
        text-align: left;
        padding: 10px;
        width: 75%;
        //border: solid black;
        //border-radius: $radiusxsmall;
        color: $secondary-color;
        background-color: $cpdblue;
        opacity: 1;
        p{
          display: block;
          //border: solid white;
          width: 100%;
        }
        *{
          //border: solid red;
          //line-height: 30px;
          height: 100%;
          vertical-align: middle;
          
        }
      }
      /* .input{
        //background-color: $cpdblue-50;
        input{
          background-color: white !important;
        }
      } */
    }
    #logoContainer{
      display: flex;
      flex-flow: column nowrap;
      gap: 5px;
      justify-content: space-between;
      background-color: $cpdblue;
      /* :hover{
        color: $cpdred;
      } */
    }
    input {
      font-size: $large;
      color: $cpdblue;
      border: none;
      background-color: white;
      padding: 5px;
      width: 90%;
      border-radius: 3px;
      /* *{
        height: 100%;
      vertical-align: middle;
      background-color: $fourth-color;
      } */
    }
    
    .save-icon,
    .edit-icon,
    .abort-icon{
      height: 100%;
      vertical-align: middle;
      //background-color: $fourth-color; 
    color: $cpdblue;
    text-align: start;
    transition: font-size 1s ease-in;
    color: $secondary-color;
    &:hover{
      transform: scale(1.5);  // Vergrößert das Bild um 20%
      transition: transform 0.3s ease-in-out;  // Animation für weichen Übergang
    }
    }
    .save-icon:after {
      content: "speichern";
      color: $cpdblue-50;
    }
    
    .edit-icon:after {
      content: "ändern";
      color: $cpdblue-50;
    }
    
    .abort-icon:after {
      content: "abbrechen";
      color: $cpdblue-50;
    }
    .save-icon:after,
    .edit-icon:after,
    .abort-icon:after {
      color: $secondary-color;
      text-shadow: 0 0 0.25rem $cpdblue-50;
      font-weight: bold;
      transform: translate(-65%, 0%);
      position: absolute;
      //top: 20px;
      z-index: 1;
      visibility: hidden;
      opacity: 0;
      transition: opacity 1s ease-in-out;
    }

    .save-icon:hover::after,
    .edit-icon:hover::after,
    .abort-icon:hover::after {
      opacity: 1;
      visibility: visible;
    }
    
    #listOfImages{
      display: flex;
      flex-flow: row nowrap;
      width:100%;
      gap: 10px;
      overflow:auto;
      //border: solid;
    }
  }
  
  #welcomeLine {
    display:flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    border: none;
    h3{
      font-family: $primary-font-bold;
      margin: 0 30px ;
      padding-top: 5px;
    }
  }

  #account_1 {      
    #company{
      display: flex;
      flex-flow: column nowrap;
      gap: 0;
      height: auto;
      text-align: left;
      padding: 0;
      //border: solid yellow;
      p{
        display: inline;
        width: 100%;
        padding: 0 0 0 5px;
        margin: 0;
        height: auto;
        border-bottom: solid $secondary-color 1px;
        //border-radius: 3px;
        &:last-child{
          border-bottom: none;
        }
      }
    }
    #account_1_data > div:nth-of-child(2) {
      display: flex;
      flex: 1 auto 1;
      flex-direction: column;
      flex-wrap: wrap;
    }
    #account_1_p {
      font-size: 1.5rem;
      width: 100%;
      text-align: center;
      color: $third-color;
    }
    .colorYellow {
      color: $secondary-color;
    }
  }

  #my_start {
    top: 60px;
    right: 10px;
    //height: 30px;
  }
  #my_active {
    top: 90px;
    right: 10px;
    //height: 30px;
  }

  /* zweite Datenreihe*/

  #account_2, #account_6 {
    table {
      //border: solid;
      border-radius: 10px;
      box-shadow: $boxshadow;
      width: 95%;
      margin: 10px auto 0;
      //padding: 10px;
      background-color: $fourth-color;
      padding: 0;
      border-collapse:collapse;
      
      thead{
        background-color: $cpdblue;
        border-radius: 5px;
        color: $fourth-color;
        tr{
          padding: 5px;
          
          th{
            border-bottom: solid;
            text-align: left;
            padding: 0px 0 0 0px;
            &:first-of-type{
              border-radius: 10px 0 0 0 ;
              padding: 0px 0 0 5px;
            }
            &:last-of-type{
              border-radius: 0 10px 0 0 ;
            }
          }

        }
      }
      tbody {
        border-radius: 10px;
        padding: 10px;
        tr{         
          td{
            padding: 5px 0 5px 0px;
            background: linear-gradient($first-color, $fourth-color );
            &:first-child{
              border-radius: 0 0 0  10px;
              padding: 5px 0 5px 5px;
            }
            &:last-child{
              border-radius: 0 0 10px;
            }
          }
            }
      }
    }
  }

  #account_3 {
    display: block;
    margin-top: 20px;
    border-left: 3px dotted $cpdred;
    border-right: 3px dotted $cpdred;
    border-radius: 20px;
    height: auto;
    
    #account_3_head p{
      &:hover {
        //color: $cpdred;
        text-shadow: $text-shadow;
        cursor: pointer;
      }
    }

    > p {
      margin: 0px 0px 30px 30px;
      padding-bottom: 10px;
      //border: solid
    }

  }
  #account_3_data {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    //align-content: flex-start;
    gap: 20px 0px;
    margin-top: 10px;
    width: 100%;
    padding: 0 0 20px 0;
    //border: solid;
    .account_3 {
      display: flex;
      flex: row nowrap;
      justify-content: space-between;
      gap:10px;
      //margin: 30px 30px 0 30px;
      padding: 10px;
      width: auto;
      min-width: 45%;
      background-color: $fourth-color;
      border-radius: $radiussmall;
      box-shadow: $boxshadow;
      height: 80px;
      position: relative;
      //border: solid;
      div:first-child {
        position: relative;
        top: -20px;
        left: 10px;
        background-color: $cpdblue;
        >h2 {
          font-family: $guthaben;
          font-weight: bold;
          font-size: 30px;
          text-align: center;
          color: white;
          padding: 5px;
          width: 70px;
          height: 90px;
          position: relative;
          top: -10px;
          line-height: 180%;
          border-radius: $radiussmall;
          background-color: $cpdblue;
        }
        >p {
          padding-left: 4px;
          margin-top: -40px;
          font-family: $primary-font;
          font-size: 10px;
          text-align: center;
          color: white;
          position: relative;
          background-color: $cpdblue;
        }
      }    
      div:last-child {
        position: relative;
        right: 0px;
        width: 50%;
        //margin: 0 auto;
      }
    }
  }
  .account_data_box {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    gap: 0px;
    //margin: 0 auto;
    border: solid;
    padding: 0px;
    .account_pers_data {
      display: block;
      color: $secondary-color;
      background-color: $cpdblue;
      font-family: $primary-font;
      font-weight: bold;
      box-shadow: none;
      text-align: center;
      line-height: 25px;
      width: 100%;
      min-width: 70px;
      height: 30px;
      border: none;
      //border-radius: $radiusxsmall;
      font-size: $xlarge;
      padding: 2px;
      margin: 0px auto;
      //border: solid;
    }
    .account_market_data {
      display: block;
      background-color: none;
      box-shadow: none;
      width: 50%;
      //min-width: 100%;
      //border: 1px solid $third-color;
      //border-radius: 5px;
      font-size: $small;
      color: $third-color;
      padding: 0px;
      text-align: center;
      justify-content: center;
      margin: 0px auto;
      line-height: 25px;
    }
  }

  .linkin {
    font-size: $small;
    margin-top: 0px;
    &:hover {
      //color: $cpdred;
      text-shadow: $text-shadow;
      cursor: pointer;
    }
  }
  
  #account_8 {
    display: block;
    margin-top: 20px;
    border-right: 3px dotted $cpdred;
    border-left: 3px dotted $cpdred;
    border-radius: 20px;
    
    #account_8_data {
      display: flex;
      margin: 0 20px;
    }
    .account_8 {
      display: flex;
      flex: row nowrap;
      justify-content: space-between;
      flex-basis: 33%;
      flex-grow: 1;
      margin: 10px;
      padding: 10px;
      padding-top: 0px;
      width: 33%;
      height: 80px;
      background-color: $fourth-color;
      border-radius: $radiussmall;
      box-shadow: $boxshadow;
    }
    p {
      padding: 0px;
      font-size: $small;
      margin: 10px 0 10px 0;
    }
  }

  #account_8_Box {
    font-weight: bold;
    font-size: 30px;
    margin: auto auto;
    margin-right: 20px;
    width: 50%;
    height: 50px;
    /*border: 2px dotted black;*/
    border-radius: 10px;
    text-align: center;
    align-items: center;
    background-color: rgb(221, 155, 55, 0.2);
    p {
      margin: 0;
      font-size: 2rem;
      line-height: 50px;
    }
  }

  #account_10 {
    display: block;
    margin-top: 20px;
    margin-bottom: 100px;
    border-right: 3px dotted $cpdred;
    border-left: 3px dotted $cpdred;
    border-radius: 20px;
    div p {
      font-size: $small;
      margin-top: 10px;
    }
    
    #account_10_data {
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-start;
      margin: 0 30px 30px 30px;
      font-size: $small;
      gap:20px;
      div p {
        line-height: 0px; 
        margin: 0 0 0 0;
        padding: 15px 15px 15px 10px;
        color: $secondary-color;
        font-size: $small;
        font-family:$primary-font;
        background-color: $cpdblue;
        //background: linear-gradient($first-color, $cpdblue );
        border-radius: 10px 10px 0 0 ;  
        //border: solid;
        border-bottom: none;
        //border-color: $cpdred; 
      }
      div div div {
        padding: 10px;
      }
      #account_10_data_1{
        width: 66%;
        flex-basis: 66%;
        flex-grow: 1;
      }
      #account_10_data_2{
        width: 30%;
        flex-grow: 2;
      }
      #account_10_data_3{
        //max-height: 100px;
        flex-grow: 2;
        max-width: 30%;
        margin-bottom: 10px;
        div div{
          display: flex;
          flex-flow: column wrap;
          gap: 10px;
        }
      }
    }
  }

  .account_10 {
    margin: 0px;
    margin-top: 10px;
    padding: 0px;
    padding-top: 0px;
    width: 33%;
    height: auto;
    background-color: $fourth-color;
    border-radius: $radiussmall;
    box-shadow: $boxshadow;
    //border: solid $cpdblue-50;
    
    ul {
      display: flex;
        flex-flow: column nowrap;
        justify-content:flex-start;
        list-style: none;
    }
  }
}
@media (max-width: $phone){
  .account_3 {
    width: 100%;
  }
  section {
    width: 100%;
  }
}
 