@import '../../scss/global.scss';


footer {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: $first-color;
  padding: 10px 0;
  font-size: 12px;
  z-index: 10;

  #footerButton {
    position: relative;
    top: 0px;
    display: block;
    margin: 0 auto;
    z-index: 100;
    padding: 10px;
    width: auto;
    height: auto;
  }

  p {
    text-align: center;
    width: 80%;
    font-size: $small;
    margin: 10px auto;
  }

  ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    width: 50%;
    margin: 0 auto 10px;
    gap: 10px;
    list-style-type: none;
    text-decoration: none;
    //border: solid black;
    ion-icon {
      font-size: 30px;
      color: $third-color;
      color: $cpdblue;
    }
  }
  #footerOverview{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    gap: 20px;
    ul {
      display: flex;
      flex-flow: column nowrap;
      gap: 0;
      width: auto;
      li{
        font-size: $small;
        //border: solid;
        &:before {
          content: "C ";
          font-family: $calli;
          color: $cpdred;
          font-size: calc($normal + 2px);
          vertical-align: -1px;
        };
        &:hover {
          //color: $cpdred;
          text-shadow: $text-shadow;
          cursor: pointer;
        }
      }
    }
  }

  &.full-height {
    position: fixed;
    //bottom: 0;
    
  }
  
}
