@import "../typography/typography.scss";
@import "../reset/reset.scss";
@import "../variables/variables.scss";

.logo_cpd {
  width: 8%;
  margin-left:0px;
  margin-right:10px;
  right:10px;
  align-items:right;
}

.LC {
  font-family: $calli;
  font-weight: bold;
  letter-spacing: -5px;
  line-height: normal;
  font-style: normal;
  color: $cpdred;
  font-size: 2.5rem;
  position: relative;
  bottom: -0.15rem;
}

.C {
  font-family: $calli;
  color: $cpdred;
  font-size: 1.3em;
  position:relative;
  top: 3px;
  /* bottom: -0.14em; */
  text-decoration:none;
}

.Calli {
  font-family: $calli;
  line-height: normal;
  font-style: normal;
  font-size: $normal;
  position:relative;
  bottom: -0.14em;
  text-decoration:none;
  }

.LitCoin {
  font-family: $calli;
  font-style: normal; 
  line-height: normal;
  color: $cpdred; 
  font-size: 1.5em;
  position:relative; 
  bottom: -0.14em;
}

.grad {
  background-image: linear-gradient(rgb(173, 173, 213), rgb(228, 150, 150));
  background-attachment:fixed;
}
 
.Trenner {
  margin: 50px auto;
  width: 5%;
  display:block;
}


 body {
    font-family: $primary-font;
    line-height: 1.2;
    letter-spacing: 0px;
    background-color: rgb(80, 0,0);
    background-image: url(../../images/Wallpaper_07_cpd_dark.PNG);
    background-size: 100vw;
    background-repeat:repeat-y;
    background-attachment: fixed;
    margin-top:150px;
  }
  
  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .rotate {
    position: fixed;
    width: 13vw; 
    aspect-ratio: 1;
    z-index: -1;
    /* animation: none; */
    animation: rotate 20s infinite linear;
    /* display:  none; */
  }
  
  #r1 {
      left: 22vw;
      top: -1vw;
  } 
  #r2 {
      left: 66vw;
      top: -1vw;
  }
  #r3 {
    left: 0.2vw;
    top: 10.2vw;
  }
  #r4 {
     left:43.5vw;
     top: 10.2vw;
  }
  #r5 {
     left: 86.8vw;
     top: 10.2vw;
  }
  #r6 {
      left: 0.2vw;
      top: 34.8vw;
  }
  #r7 {
      left: 86.8vw;
      top: 34.8vw;
  }
  #r8 {
      left: 0.2vw;
      top: 59.9vw;
  }
  #r9 {
      left: 86.8vw;
      top: 59.9vw;
  }
  #r10 {
      left: 0.2vw;
      top: 85.0vw;
  }
  #r11 {
      left: 43.8vw;
      top: 85.0vw;
  }
  #r12 {
      left: 66.8vw;
      top: 85.0vw;
  }
  #r13 {
    left: 86.8vw;
    top: 85.0vw;
  }
  
  
  /*Alles zum Header*/
  header {
    font-family: $primary-font;
    position: fixed;
    top: 0px;
    left: 0px;
    /* margin-bottom: 30px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    width: 100vw;
    height: 100px;
    background-color: $first-color;
    box-shadow: $boxshadow;
    z-index: 95;
   }
  
  /* Neue Navigation*/
  
  .navheader {
    width:30%;
    position:relative;
    left: 10.5%;
    #dropdown {
      position: relative;
      left:0;
      width: 100%;
      display: block;
      #dropbtn {
        font-family: $primary-font;
        width: 140px;
        text-align: left;
        position: relative;
        background-color: transparent;
        color: black;
        font-size: $small;
        border: none;
      }
      ul {
        color: black;
        font-size: $small;
        display: flex;
        opacity: 0;
        flex-direction: row;
        justify-content: left;
        position: absolute;
        bottom: -11px;
        left: -20px;
        height: auto;
        width: auto;
        background-color: none;
        z-index: 98;
        text-decoration: none;
        
        li {        
          padding: 0 20px;
          display: flex;
          font-size: $small;
          background-color: none;
          /* box-shadow: $boxshadow; */
          * {
            text-decoration: none;
          }
          a {
            color: black;
          }
        }
      }
    }
  }
  
  @keyframes navpresenter {
  0%  {opacity: 0;}
  100% {opacity: 1;}
  }
  
  #dropdown:hover #dropdown-content {
    opacity: 1;
    width: auto;
    li:nth-child(2){
      opacity: 0;
      animation: navpresenter 1s forwards; 
      animation-fill-mode: both;
    }
    li:nth-child(3){
      opacity: 0;
      animation: navpresenter 2s  forwards;
    }
    li:nth-child(4){
      opacity: 0;
      animation: navpresenter 3s  forwards;
    }
    li a:hover {
      color: $cpdred;
      text-shadow: 1px 1px 20px $cpdred;
    }
  }
  
  #dropbtn p::after {
    content: "";
    width: 10px;
    height: 10px;
    
  }
  
  #dropdown:hover #dropbtn {
    display: none;
    opacity: 0;
  }
  
  .image_header {
      height:30px;
   }
  
  .text_header {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: nowrap;
    margin-top: 0px;
    margin-left: -15%;
    font-size: $small;
    text-decoration: none;
    vertical-align: top;
    line-height: 1.2;
  }
  
  #header_myaccount {
    background-color: $first-color;
    width: 15vw;
    height: 60px;
    margin-right: 30px;
    font-size: $small;
      ul {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: end;
        gap: 0px;
        li {
          list-style-type: none;
          a {
            text-decoration:none;
            color: black;
          }
          a:hover{
            text-decoration:none;
            color: $cpdred;
            text-shadow: 1px 1px 20px $cpdred;
          }
        }
      }    
    }
  
  /*Ende Styles zum Header*/
  
  .sidenav {
    height: 100%;
    width: calc(10vw - 5px);
    position: fixed;
    z-index: 0;
    top: 100px;
    left: -200px;
    background-color: $third-color;
    overflow-x: hidden;
    transition: 0.5s ease-in-out;
    padding-top: 80px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 30px;
    text-decoration: none;
    font-size: $normal;
    color: $secondary-color;
    display: block;
    transition: 0.75s;
    width: 10vw;
    span {
      color: $cpdred;
    }
  }

  #mySidenav a:first-child {
    text-shadow: none;
  }
  
  .sidenav a:hover, .sidenav a:active  {
    color: $secondary-color;
    text-shadow: 10px 5px 15px white;
    span {
      text-shadow: none;
      color: $secondary-color;
    }
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 20px;
    left: 3vw;
    font-size: 54px;
    font-weight: 900;
    margin-left: 0px;
    color: $secondary-color;
  }
  
  #main {
    position:fixed;
    top: 115px;
    transition: margin-left 0.75s;
    margin-left:1vw;
    padding: 16px;
    color: $secondary-color;
    span {
      font-size:3rem;
      cursor:pointer;
   
    }
  }
  
  /* @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  } */
  




  /*Beginn Css für den Main*/ 
  



  main {
    width: 80vw;
    margin-top: 0px;
    margin-left: 10%;
    margin-right: 10%;
    z-index: 5;
    position: relative;
    border-radius: 20px;
    background-color: $first-color;
    border:2px solid $first-color;
  }
    
    
  /*Content*/

  #Content {
    /*background-color: azure;*/
    width: 80%;
    margin: 20px auto;  
    z-index: 2;
  
  }
  
  
  footer {
    position:static;
    bottom: 0;
    background-color:$first-color;
    padding: 10px 0 10px 0;
    width:100vw;
    height: 120px;
    height:fit-content;
    font-size: 12px;
    margin-top: 50px;
    z-index: 10;
    p {
      text-align: center;
      width:80%;
      font-size: $small;
      margin: 10px auto;
    }

    
    ul {
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      width: 80%;
      margin: 0 auto;
      gap: 10px;
      list-style-type: none;
      ion-icon {
        font-size: 30px;;
        color:$cpdblue;
      }
    }
    
    div {
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      gap: 150px;
      margin: 30px ;
      ul {
        display: flex;
        flex-flow: column wrap;
        font-size: $normal;
      }
    }
  }

  @media (max-width: $desktop){
    #Content {
      width: 100%;
    }

    
    }
    
    @media (max-width: $tablet){
      body {
        background-image: none;
      }
      .drehmoment {
        display: none;
      }
      main {
        width: 100vw;
        margin: 0 0;
      }
      #Content {
        width: 100%;
      }
      
      #main {
        transition: top 1s;
        top: 10px;
        left: -10px;
        color: black;
        z-index: 100;
      }
      .sidenav {
        width: 200px;
      }
  
    }
  
  
    