@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css");
@font-face {
  font-family: "VIA-Verlag";
  src: url("../../fonts/VIA-Verlag.woff2") format("woff2"), url("../../fonts/VIA-Verlag.otf") format("otf");
}
@font-face {
  font-family: "BillboardShadow";
  src: url("../../fonts/Bilboard/Billboard-Shadow.woff2") format("woff2"), url("../../fonts/Bilboard/Billboard-Shadow.otf") format("otf");
}
@font-face {
  font-family: "Carbono";
  src: url("../../fonts/carbono/carbono.woff2") format("woff2"), url("../../fonts/carbono/carbono.otf") format("otf");
}
@font-face {
  font-family: "Vacaciones";
  src: url("../../fonts/vacaciones-outline/Vacaciones-font-ffp-defharo.woff2") format("woff2"), url("../../fonts/vacaciones-outline/Vacaciones-font-ffp-defharo.otf") format("otf");
}
@font-face {
  font-family: "CorporateDemi";
  src: url("../../fonts/Corporate/CorporateSTOT-Dem.woff2") format("woff2"), url("../../fonts/Corporate//CorporateSTOT-Dem.otf") format("otf");
}
@font-face {
  font-family: "CorporateReg";
  src: url("../../fonts/Corporate/CorporateSTOT-Reg.woff2") format("woff2"), url("../../fonts/Corporate/CorporateSTOT-Reg.otf") format("otf");
}
@font-face {
  font-family: "FallingSkyOu";
  src: url("../../fonts/Falling-Sky-Condensed-Outline/FallingSkyOu.woff2") format("woff2"), url("../../fonts/Falling-Sky-Condensed-Outline/FallingSkyOu.otf") format("otf");
}
@font-face {
  font-family: "Frederica";
  src: url("../../fonts/Fredericka_the_Great/FrederickatheGreat-Regular.woff2") format("woff2"), url("../../fonts/Fredericka_the_Great/FrederickatheGreat-Regular.otf") format("otf");
}
@font-face {
  font-family: "ChalkLine";
  src: url("../../fonts/chalk_line_outline/ChalkLine-Outline.woff2") format("woff2"), url("../../fonts/chalk_line_outline/ChalkLine-Outline.otf") format("otf");
}
@font-face {
  font-family: "Rampart";
  src: url("../../fonts/Rampart_One/RampartOne-Regular.woff2") format("woff2"), url("../../fonts/Rampart_One/RampartOne-Regular.otf") format("otf");
}
@font-face {
  font-family: "Thunderlord";
  src: url("../../fonts/thunder_lord/ThunderLord.woff2") format("woff2"), url("../../fonts/thunder_lord/ThunderLord.otf") format("otf");
}
@font-face {
  font-family: "FoundSanExpNorm";
  src: url("../../fonts/Foundry/FOUSANNO.woff2") format("woff2"), url("../../fonts/Foundry/FOUSANNO.otf") format("otf");
}
@font-face {
  font-family: "FoundSanBd";
  src: url("../../fonts/Foundry/FOUSANBD.woff2") format("woff2"), url("../../fonts/Foundry/FOUSANBD.otf") format("otf");
}
@font-face {
  font-family: "FoundSanExpMed";
  src: url("../../fonts/Foundry/FOUSANMD.woff2") format("woff2"), url("../../fonts/Foundry/FOUSANMD.otf") format("otf");
}
@font-face {
  font-family: "FoundSanExBold";
  src: url("../../fonts/Foundry/FOUSANEB.woff2") format("woff2"), url("../../fonts/Foundry/FOUSANEB.otf") format("otf");
}
* {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
* ::-webkit-scrollbar {
  display: none;
}

/* 
Persian Plum: #641b1a
Blue Chill: #118890
Blue Dianne: #225d63
Pine Green: #047c74 
*/
/* textsizes*/
/*$medium: 4rem;
$large: 10rem;
$huge: 20rem;

$border-radius:*/
/*Mediasetting*/
/* Fonts */
/* logos */
:root {
  --beige-transparent-color: #f4e3d7bb;
  --beige-color: #f4e3d7;
  --middle-green-color: #008000;
  --dark-green-color: rgb(0, 66, 0);
  --dark-color: #011b10;
  --dark-transparent-color: #011b1080;
}

.logo_cpd {
  width: 8%;
  margin-left: 0px;
  margin-right: 10px;
  right: 10px;
  align-items: right;
}

.LC {
  font-family: "VIA-Verlag";
  font-weight: bold;
  letter-spacing: -5px;
  line-height: normal;
  font-style: normal;
  color: rgb(100, 27, 26);
  font-size: 2.5rem;
  position: relative;
  bottom: -0.15rem;
}

.C {
  font-family: "VIA-Verlag";
  color: rgb(100, 27, 26);
  font-size: 1.3em;
  position: relative;
  top: 3px;
  /* bottom: -0.14em; */
  text-decoration: none;
  cursor: url(../images/point.png);
}

.Calli {
  font-family: "VIA-Verlag";
  line-height: normal;
  font-style: normal;
  font-size: 1.1rem;
  position: relative;
  bottom: -0.14em;
  text-decoration: none;
}

.LitCoin {
  font-family: "VIA-Verlag";
  font-style: normal;
  line-height: normal;
  color: rgb(100, 27, 26);
  font-size: 1.5em;
  position: relative;
  bottom: -0.14em;
}

.grad {
  background-image: linear-gradient(rgb(173, 173, 213), rgb(228, 150, 150));
  background-attachment: fixed;
}

.Trenner {
  margin: 50px auto;
  width: 5%;
  display: block;
}

body {
  margin: 0 auto;
  background-color: rgb(0, 0, 30);
  background-size: 100%;
  background-repeat: repeat-y;
  background-attachment: fixed;
  font-family: "FoundSanExpNorm", sans-serif;
  line-height: 1.2;
  letter-spacing: 0px;
  margin-top: 150px;
  overflow-x: hidden;
  height: 100vh;
}

Header {
  position: fixed;
  top: 0px;
  left: 0px;
}

main {
  width: 80%;
  margin: 0 10%;
  z-index: 5;
  position: relative;
  border-radius: 20px;
  background-color: rgb(240, 255, 255);
  border: 2px solid rgb(240, 255, 255);
}

Footer {
  position: relative;
  bottom: 0px;
}

/*Content --> nicht mehr relevant*/
/* #Content {
  width: 80%;
  margin: 0px auto;  
  z-index: 2;
} */
/* @media (max-width: $desktop){
  #Content {
    width: 100%;
  }
} */
@media (max-width: 760px) {
  body {
    background-image: none;
  }
  .drehmoment {
    display: none;
  }
  main {
    width: 100vw;
    margin: 0 0;
  }
  #navmain div {
    border: none;
  }
}
.header {
  font-family: "FoundSanExpNorm", sans-serif;
  /* position: fixed;
  top: 0px;
  left: 0px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
  height: 100px;
  background-color: rgb(240, 255, 255);
  box-shadow: 0.5rem 0.5rem 2rem;
  z-index: 95;
}

/* Navigation*/
.navheader {
  width: 30%;
  position: relative;
  left: 10.5%;
}
.navheader #dropdown {
  position: relative;
  bottom: -11px;
  left: -10px;
  width: 100%;
  display: block;
  border: none;
}
.navheader #dropdown #dropbtn {
  font-family: "FoundSanExpNorm", sans-serif;
  width: 100%;
  text-align: left;
  position: absolute;
  bottom: 0px;
  background-color: transparent;
  color: black;
  font-size: 0.9rem;
  border: none;
}
.navheader #dropdown ul {
  color: black;
  font-size: 0.9rem;
  display: flex;
  gap: 20px;
  opacity: 0;
  flex-direction: row;
  justify-content: left;
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: auto;
  width: auto;
  background-color: none;
  z-index: 98;
  text-decoration: none;
  border: none;
  transition: 1s;
}
.navheader #dropdown ul li {
  padding: 0 0px;
  display: flex;
  font-size: 0.9rem;
  background-color: none;
  width: auto;
  /* box-shadow: $boxshadow; */
}
.navheader #dropdown ul li * {
  text-decoration: none;
}
.navheader #dropdown ul li a {
  color: black;
}

@keyframes navpresenter {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#dropdown:hover #dropdown-content {
  opacity: 1;
  width: auto;
}
#dropdown:hover #dropdown-content li:nth-child(2) {
  opacity: 0;
  animation: navpresenter 1s forwards;
  animation-fill-mode: both;
}
#dropdown:hover #dropdown-content li:nth-child(3) {
  opacity: 0;
  animation: navpresenter 2s forwards;
}
#dropdown:hover #dropdown-content li:nth-child(4) {
  opacity: 0;
  animation: navpresenter 3s forwards;
}
#dropdown:hover #dropdown-content li a:hover {
  color: rgb(100, 27, 26);
  text-shadow: 1px 1px 20px rgb(100, 27, 26);
}

#dropbtn p::after {
  content: "";
  width: 10px;
  height: 10px;
}

#dropdown:hover #dropbtn {
  display: none;
  opacity: 0;
}

.image_header {
  height: 30px;
}

.text_header {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: nowrap;
  margin-top: 0px;
  margin-left: 15%;
  font-size: 0.9rem;
  text-decoration: none;
  vertical-align: top;
  line-height: 1.2;
}

#header_myaccount {
  background-color: transparent;
  width: 15vw;
  height: auto;
  margin-right: 10vw;
  font-size: 0.9rem;
}
#header_myaccount ul {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: end;
  gap: 0px;
}
#header_myaccount ul li {
  list-style-type: none;
}
#header_myaccount ul li a {
  text-decoration: none;
  color: black;
}
#header_myaccount ul li:hover {
  text-decoration: none;
  color: rgb(100, 27, 26);
  text-shadow: 1px 1px 20px rgb(100, 27, 26);
}
#header_myaccount .user {
  visibility: hidden;
}

#burger_button {
  cursor: pointer;
  height: 35px;
  width: 35px;
  margin: 0px;
  overflow: visible;
  position: fixed;
  top: 35px;
  left: 3vw;
  z-index: 9;
  /* THE LINES */
}
#burger_button :hover {
  color: rgb(100, 27, 26);
  box-shadow: 0px 0px 25px 5px rgb(100, 27, 26);
}
#burger_button span, #burger_button span::before, #burger_button span::after {
  background: rgb(100, 27, 26);
  display: block;
  height: 4.5px;
  opacity: 1;
  position: absolute;
  transition: 0.3s ease-in-out;
}
#burger_button span::before,
#burger_button span::after {
  content: "";
}
#burger_button span::before {
  left: 0px;
  top: -10px;
  width: 27px;
}
#burger_button span {
  right: 0px;
  top: 13px;
  width: 27px;
}
#burger_button span::after {
  left: 0px;
  top: 10px;
  width: 27px;
}
#burger_button.changeBurger span::before {
  top: 0px;
  transform: rotate(90deg);
  width: 33px;
}
#burger_button.changeBurger span {
  transform: rotate(-45deg);
  top: 13px;
  width: 33px;
}
#burger_button.changeBurger span::after {
  top: 0px;
  left: 0;
  transform: rotate(90deg);
  opacity: 0;
  width: 0;
}

#navmain {
  position: fixed;
  top: -500px;
  width: 100%;
  height: 500px;
  margin: 0 auto;
  background: rgb(240, 255, 255);
  z-index: 10;
  padding-top: 50px;
  padding-bottom: 30px;
  box-shadow: 2.5rem 0.5rem 2rem;
  padding-top: 20px;
}
#navmain div {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  width: 80%;
  margin: 0 auto 0px;
  gap: 20px;
  border-right: dotted rgb(100, 27, 26) 3px;
  border-left: dotted rgb(100, 27, 26) 3px;
  border-radius: 80px;
  padding: 50px;
}
#navmain div ul {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  width: 50%;
  margin: 0 auto;
  list-style-type: none;
  border: none;
}
#navmain div ul p {
  font-size: 1.2rem;
  font-weight: 900;
  border-right: dotted rgb(100, 27, 26);
  border-left: dotted rgb(100, 27, 26);
  border-radius: 10px;
  width: -moz-max-content;
  width: max-content;
  padding: 0 10px 0 10px;
}
#navmain div ul li {
  width: -moz-max-content;
  width: max-content;
  list-style-type: none;
  border: none;
}
#navmain div ul li a {
  padding: 8px 8px 0px 0px;
  text-decoration: none;
  font-size: 0.9rem;
  color: black;
  display: block;
  transition: 0.75s;
  width: max-width;
  line-height: 100%;
  margin-left: 0%;
  /*  border-left: dotted;   
  border-right: dotted; */
  border-radius: 10px;
}
#navmain div ul li a span {
  color: rgb(100, 27, 26);
}
#navmain div ul li a:hover {
  color: rgb(100, 27, 26);
  text-shadow: 1px 1px 20px rgb(100, 27, 26);
}
#navmain.showNav {
  top: 100px;
  transition: 0.3s ease-in-out;
}
#navmain.hideNav {
  top: -500px;
  transition: 0.3s ease-in-out;
}
#navmain #navPromo {
  background-image: url(../../images/Sonnenuntergang.jpg);
  background-size: cover;
  background-position: center 300px;
  padding: 40px;
  height: 180px;
}
#navmain #navPromo p {
  text-align: center;
  vertical-align: top;
  color: white;
  border-top: white dotted;
  border-radius: 70%;
  aspect-ratio: 1;
  width: 54%;
  height: 100%;
  padding: 100px 0 30px 0;
}
#navmain #navPromo:hover {
  background-image: url(../../images/Sonnenuntergang_dark.jpg);
}/*# sourceMappingURL=Header.css.map */