@import "../../scss/global.scss";

#impressumMain {
  width: 60%;
  height: 500px;
  margin: 25vh auto;
  //  box-shadow: 10px 10px 10px red, -10px -10px 10px red;
  background-color: $cpdblue;
  border-color: $cpdred;
}

#impressum {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  position: relative;
  top: 20%; 
  //box-shadow: $boxshadow;
  border-radius: 10px;
  color: $first-color;
  width: 80%;
  height: auto;
  min-height: 60%;
  margin: auto;
  padding: 30px;
  gap:20px;
  div{
    padding: 0px;
  }
}