@import "../../scss/global.scss";

#impressumMain {
  width: 60%;
  height: 500px;
  min-height: 50vh;
  margin: 25vh auto 15vh;
  background-color: $first-color;
  //border-color: $cpdred;
  box-shadow: $mainshadow;

}

#impressum {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  position: relative;
  top: 10%; 
  //box-shadow: $boxshadow;
  border-radius: 10px;
  color: $cpdblue;
  width: 80%;
  height: auto;
  min-height: 60%;
  margin: auto;
  padding: 30px;
  gap:20px;
  div{
    padding: 0px;
  }
}