@import "./typography/typography.scss";
@import "./reset/reset.scss";
@import "./variables/variables.scss";

.logo_cpd {
  width: 8%;
  margin-left:0px;
  margin-right:10px;
  right:10px;
  align-items:right;
}

.LC {
  font-family: $calli;
  font-weight: bold;
  letter-spacing: -5px;
  line-height: normal;
  font-style: normal;
  color: $cpdred;
  font-size: 2.5rem;
  position: relative;
  bottom: -0.15rem;
}

.C {
  font-family: $calli;
  color: $cpdred;
  font-size: 1.3em;
  position:relative;
  top: 3px;
  /* bottom: -0.14em; */
  text-decoration:none;
  cursor: url(../images/point.png);
}

.Calli {
  font-family: $calli;
  line-height: normal;
  font-style: normal;
  font-size: $normal;
  position:relative;
  bottom: -0.14em;
  text-decoration:none;
  }

.LitCoin {
  font-family: $calli;
  font-style: normal; 
  line-height: normal;
  color: $cpdred; 
  font-size: 1.5em;
  position:relative; 
  bottom: -0.14em;
}

.grad {
  background-image: linear-gradient(rgb(173, 173, 213), rgb(228, 150, 150));
  background-attachment:fixed;
}
 
.Trenner {
  margin: 50px auto;
  width: 5%;
  display:block;
}

body {
  margin: 0;
  background-color: $cpdblue;
  //background-color: rgb(80, 0,0);
  /* background-image: url(../images/Wallpaper_07_cpd_dark.PNG); */
  background-size: 100vw;
  background-repeat:repeat-y;
  background-attachment: fixed;
  font-family: $primary-font;
  line-height: 1.2;
  letter-spacing: 0px;
  margin-top:150px;
  overflow-x:hidden  
}


  
main {
  //display: none;
  width: 80vw;
  margin: 0 10%;
  /* margin-left: 10%;
  margin-right: 10%;  */
  z-index: 5;
  position: relative;
  border-radius: 20px;
  background-color: $first-color;
  border:2px solid $first-color;
}
    
    
/*Content*/

#Content {
  width: 80%;
  margin: 0px auto;  
  z-index: 2;
}
  


@media (max-width: $desktop){
  #Content {
    width: 100%;
  }
}
    
@media (max-width: $tablet){
  body {
    background-image: none;
  }
  .drehmoment {
    display: none;
  }
  main {
    width: 100vw;
    margin: 0 0;
  }
  
  #navmain div {
    border: none;
  }
}
  
  
    