/* body {
  margin: 0;
  background-color: rgb(80, 0,0);
  background-image: url(../images/Wallpaper_07_cpd_dark.PNG);
  background-size: 100vw;
  background-repeat:repeat-y;
  background-attachment: fixed;
 
} */