/* body {
  margin: 0;
  background-color: rgb(80, 0,0);
  background-image: url(../images/Wallpaper_07_cpd_dark.PNG);
  background-size: 100vw;
  background-repeat:repeat-y;
  background-attachment: fixed;
 
} */

:root {
  --glitter: url("https://assets.codepen.io/13471/silver-glitter-background.png");
  --ratio-x: .5;
  --ratio-y: .75;
  --from-center: 2; 
}