//colors
$first-color: rgb(240, 255, 255);
$secondary-color: lemonchiffon;
$third-color: rgb(180, 200, 230);
$fourth-color: rgba(221, 155, 55, 0.2);
$button-color: rgba(170, 170, 170, 0.75);
$cpdred: rgb(125, 0, 0);
$cpdblue: rgb(0, 0, 50);

//shadows
$boxshadow: 0.5rem 0.5rem 2rem;
$btnshadow: 0px 0px 10px 1px $secondary-color inset, -2px -2px 5px 3px grey,  -5px -5px 5px white inset; 
$rshadow: 3px 3px black, -3px -3px black, 3px -3px black, -3px 3px black;

//backgroundcolours
$grad: linear-gradient(rgb(173, 173, 213), rgb(228, 150, 150)) fixed;

/* textsizes*/
$xxxlarge: 3rem;
$xxlarge: 2.0rem;
$xlarge: 1.5rem;
$large: 1.2rem;
$normal: 1.1rem;
$small: 0.9rem;
$xsmall: 0.75rem;
/*$medium: 4rem;
$large: 10rem;
$huge: 20rem;

$border-radius:*/
$radiuslarge: 20px;
$radiussmall:10px;
$radiusxsmall:5px;

/*Mediasetting*/
$phone: 675px;
$tablet: 768px;
$desktop: 1024px; 
$widedesktop: 2048px;
$highres: 3000px;

/* Fonts */
$primary-font: "FoundSanExpNorm", sans-serif;
$primary-font-bold: "FoundSanBd";
$calli: "VIA-Verlag";
$guthaben: "FallingSkyOu";

/* logos */
$logosize10: 10px;
$logosize20: 20px;

  
  .logo_cpd {
    width: 8%;
    margin-left:0px;
    margin-right:10px;
    right:10px;
    align-items:right;
  }
  
  .LC {
    font-family: $calli;
    font-weight: bold;
    letter-spacing: -5px;
    line-height: normal;
    font-style: normal;
    color: $cpdred;
    font-size: 2.5rem;
    position: relative;
    bottom: -0.15rem;
  }
  
  .C {
    font-family: $calli;
    color: $cpdred;
    font-size: 1.3em;
    position:relative;
    top: 3px;
    /* bottom: -0.14em; */
    text-decoration:none;
  }
  
  .Calli {
    font-family: $calli;
    line-height: normal;
    font-style: normal;
    font-size: $normal;
    position:relative;
    bottom: -0.14em;
    text-decoration:none;
    }
  
  .LitCoin {
    font-family: $calli;
    font-style: normal; 
    line-height: normal;
    color: $cpdred; 
    font-size: 1.5em;
    position:relative; 
    bottom: -0.14em;
  }
  
  .grad {
    background-image: linear-gradient(rgb(173, 173, 213), rgb(228, 150, 150));
    background-attachment:fixed;
  }
   
  .Trenner {
    margin: 50px auto;
    width: 5%;
    display:block;
  }