#AboutTheProfession {
   height: 800px;
   background-image: url(../../images/Baustelle.jpg);
   opacity: 0.9;
   background-size: cover;
   background-repeat: none;
   h1 {
      color: white;
      text-align: center;
      width: 40%;
      position: relative;
      left: 55%;
      top: 60px;
   }

}