@import "../../scss/global.scss";

#updateModal {
  position: fixed;
  top: 465px;
  left: 50%;
  right: auto;
  bottom: auto;
  width: 80%;
  max-width: 1280px;
  min-height: 600px;
  //margin: -170px auto 0;
  box-shadow: $mainshadow;
}

#UpdateUser {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  gap: 3rem;

  h2{
    display: block;
    margin: 50px auto 20px;
    padding: 20px;
    width:fit-content;
    font-size: $small;
    text-align: center;
    color: $cpdblue;
    border-left: dotted 3px $cpdred;
    border-right: dotted 3px $cpdred;
    border-radius:  20px ;
  }
  >button {
    margin-bottom: 30px;
  }
}

#UpdateUser h1 {
  font-size: 3rem;
  width: 100%;
  text-align: center;
  color: var(--beige-color);
  background-color: var(--dark-transparent-color);
}

#UpdateUser ul {
  font-size: 1.75rem;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  width: 80%;
  background-color: $fourth-color;
  border-radius: $large;
  padding: 1rem;
  box-shadow: $boxshadow;
  transition: width 1s ease-in, font-size 1s ease-in;
  li {
    width: 100%;
    display: grid;
    grid-template-columns:40% 60%;
    //gap: 5%;
    border: solid;
    padding: 0px;
    margin: none;
    .col1 {
      //border: solid;
      height: 100%;
      padding: 10px 0 10px 10px;
      font-size: $normal;
    }
  }

}

#UpdateUser .col2 {
  display: flex;
  justify-content:space-between;
  align-items: center;
  gap: 1rem;
  background-color: black;
  color: $secondary-color;
  padding: 10px;
  font-size: $normal;
  //border: solid red;
  //margin: none;
  //height: auto
}

#UpdateUser ul li span .button-dark-green {
  font-size: 1.75rem;
  padding: 0.25rem 1rem;
}

#UpdateUser ul > .button-green {
  margin: 1.5rem auto 0 auto;
  font-size: 2.5rem;
  padding: 0.5rem 1.5rem;
  transition: font-size 1s ease-in;
  
}

#UpdateUser .col2 input,
#UpdateUser .col2 select {
  font-size: 1rem;
  color: $cpdred;
  border-radius: 5px;
  border-color: $cpdblue $cpdblue-50
  $cpdblue-50 $cpdblue;
  background-color: white;
  padding: 0.25rem;
  width: 100%;
}

#UpdateUser .col2 select {
  border-width: 2px;
  //font-family: "Poppins";
}

#UpdateUser .col2 select option:checked,
#UpdateUser .col2 select option:hover {
  background-color: $cpdblue-50;
  color: var(--beige-color);
}

#UpdateUser .col2 input:focus,
#UpdateUser .col2 select:focus {
  background-color: var(--beige-color);
  outline: 3px solid $cpdblue-50;
}

#UpdateUser .save-icon,
#UpdateUser .edit-icon,
#UpdateUser .abort-icon{
  color: $cpdblue;
  text-align: start;
  font-size: 1.5rem;
  transition: font-size 1s ease-in;
  color: $secondary-color;
}

#UpdateUser .save-icon:after {
  content: "speichern";
  color: $cpdblue-50;
}

#UpdateUser .edit-icon:after {
  content: "ändern";
  color: $cpdblue-50;
}

#UpdateUser .abort-icon:after {
  content: "abbrechen";
  color: $cpdblue-50;
}

#UpdateUser .save-icon:after,
#UpdateUser .edit-icon:after,
#UpdateUser .abort-icon:after {
  color: var(--beige-color);
  text-shadow: 0 0 0.25rem $cpdblue-50;
  font-weight: bold;
  transform: translate(-65%, -1rem);
  position: absolute;
  z-index: 1;
  visibility: hidden;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

#UpdateUser .save-icon:hover::after,
#UpdateUser .edit-icon:hover::after,
#UpdateUser .abort-icon:hover::after {
  opacity: 1;
  visibility: visible;
}

@media screen and (max-width: 767px) {
  #UpdateUser {
    gap: 1rem;
  }

  #UpdateUser h1 {
    font-size: 2rem;
  }

  #UpdateUser ul {
    width: 95%;
    padding-left: 0.5rem;
    font-size: 1.5rem;
    gap: 1.5rem;
  }
  #UpdateUser ul li {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0px;
    flex-wrap: wrap;
  }

  #UpdateUser .col2 {
    width: 100%;
    justify-content: center;
    align-items: center;

  }

  #UpdateUser .col2 span:first-child {
    width: 100%;
    max-width: max-content;
    overflow: auto;
    text-align: center;
  }

  #UpdateUser .col2 span:last-child {
    width: 1em;
  }

  #UpdateUser .col2 input,
  #UpdateUser .col2 select {
    width: 250px;
  }
  
  #UpdateUser .col1 {
    font-weight: bold;
    //border: solid;
  }

  #UpdateUser ul > .button-green {
    font-size: 2rem;
  }
}

@media screen and (min-width: 1024px) {
  #UpdateUser h1 {
    font-size: 4rem;
  }

  #UpdateUser ul {
    width: 80%;
    font-size: 1.2rem;
  }

  #UpdateUser .save-icon,
  #UpdateUser .edit-icon {
    font-size: 1.5rem;
  }
}

.linkin {
  font-size: $small;
  margin-top: 0px;
  margin-bottom: 30px;
  &:hover {
    //color: $cpdred;
    text-shadow: $text-shadow;
    cursor: pointer;
  }
}

