@import '../../scss/global.scss';

main{
   box-shadow: $mainshadow;
   #sandbox{
      color: black;
      width: 80%;
      min-height: 25vh;
      padding: 50px;
      >p{
         color: black;
         border: solid;
      }
   }
}