@import '../../scss/global.scss';

#sandboxMain{
   box-shadow: $mainshadow;
   height:auto;
   min-height: 35vh;
   #sandbox{
      color: black;
      width: 80%;
      padding: 50px;
      >p{
         color: black;
         border: solid;
      }
   }
}