@import '../../scss/global.scss';

#sandboxMain{
   box-shadow: $mainshadow;
   height:auto;
   min-height: 50vh;
   #sandbox{
      color: black;
      width: 75%;
      height: auto;
      padding: 50px;
      >p{
         color: black;
         border: solid;
      }
   }
}