@import "../../scss/global.scss";


/* .weiterButton, .resetButton, .submitButtonRegister {
    margin-top: 0px;
    //padding-top: 20px;
    line-height: 20px;
    text-align: center;
    background-color: $first-color;
    &:hover{
      background-color: $cpdblue-10;
    }
    &:active {
      background-color: white;
    }
  } */


  
  
  
 