@import "../../scss/global.scss";


#courseListMain {
  min-height: 75vh;
  //margin-top: 100px;
  //margin-bottom: 100px;
  margin: 0px auto 50px;
  background-color: $first-color;
  box-shadow: $mainshadow;
    
  #overviewCourses {
    width: 90%;
    height: 900px;
    margin: 20px auto; 
    border-left: dotted;
    border-right: dotted;
    border-width: 3px;
    border-radius: $radiuslarge;
    border-color: $cpdred;
    overflow-y:auto;
    background-color: transparent;
    
    #themenfeldFilter{
      position: sticky;
      top: 00px;
      display: flex;
      flex-flow: row wrap;
      justify-content:center;
      row-gap: 5px ;
      column-gap: 15px;
      padding: 10px 5%  ;
      width: 100%;
      margin: 0px auto 0px;
      height: auto;
      min-height: 75px;
      border-radius: 10px 10px 0 0;
      color: $secondary-color;
      background-color: $cpdblue;
      font-size: $xsmall;
      //border: solid;
      border-bottom: solid 2px $fourth-color;
      z-index: 10;
      >div{
        margin:  0;
        padding: 3px;
        font-size: $xsmall;
        //border-bottom: solid $fourth-color;
        border-left: dotted $fourth-color;
        border-right: dotted $fourth-color;
        border-radius: 10px;
        //width: 80px;
        background-color: $cpdblue;
        p{
          margin: 0 0 3px 0;
          padding:0 3px 0 3px ;
          //font-size: $xsmall;
          border-bottom: dotted 1px;
          //width: 80px; 
        }
        select {
          background-color: $cpdblue;
          color: $secondary-color;
          border: none;
          font-size: $xsmall;
          width: 80px;
          padding:0 0 0 0px ;
          margin: 0;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        ul{
          display: flex;
          flex-flow: column wrap;
          position: relative;
          list-style-type: none;
          width: auto;
          //max-width: 80px;
          height: min-content;
          font-size: $xsmall;
         //border: solid;
          li{
            font-size: $xsmall;
            padding: 0;
            //margin-right: 3px;
            padding:0 2px 0 3px ;
            max-width: auto;
            // &:after{
            //   content: ", ";
            // }
            // &:last-child::after{
            //   content: "";
            // }
          }
        }
      }
      #kursartFilter {
        //height: 20px;
        input{
          background-color: $cpdblue;
          color: $secondary-color;
          border: none;
          font-size: $xsmall;
        }
        #listOfCourseTypes{
          position:absolute;
          top: 0px;
          
          li{
            width: auto;
            cursor: pointer;
          }
        }
      }
      #sortItem {
        position: relative;
        top: 0px;
        background-color: $cpdblue;
        margin: 0 0 0 5px;
        padding: 0px ;
        font-size: $xsmall;
        // border-left: dotted $cpdred;
        // border-right: dotted $cpdred;
        // border-top: none;
        // border-bottom: none;
        // border-color: $fourth-color;
        // border-radius:5px;
        //height: 25px;
        // &:active{
        //   border: none;
        // }
        &:hover {
          //color: $cpdred;
          text-shadow: 0px 0px 10px $fourth-color;
        }
        option{
          font-size: $xsmall;
        }
      }
      #sortBy{
        margin-right: 0;
        padding-right:0;
        //font-size: $xsmall;
        width: min-content;
        select{
          font-size: $xsmall;
          padding: 0;
          margin: 0;
        }
      }
      #gesetzterFilter {
        font-size: $xsmall;
      }
      #filterLöschen{
        // color: $fourth-color;
        // font-size: $xsmall;
         border: none;
        // margin: 0;
        // padding: 0;
        // width:auto;
        p{
          border-bottom: dotted 1px;
        }
        span{
          padding-left: 3px;
        }
        
        #pFilterLöschen {
          //border: none;     
          &:before {
              content: 'C ';
              color: $fourth-color;
              font-family: 'VIA-Verlag', sans-serif; // Font-Fallback hinzufügen
              position: relative;
              top: 0.5px;
          }
          &:hover {
              //text-shadow: 0px 0px 5px $fourth-color;
              text-shadow: $text-shadow;
          }
        }
      
      }
      #ansicht {
        display: flex;
        //align-items: center;
        flex-flow:column;
        input[type="radio"] {
          display: none;
        }
        label {
          display: inline-block;
          position: relative;
          padding-left: 15px;
          margin-right: 15px;
          cursor: pointer;
          font-size: $xsmall;
          user-select: none;
          &:hover {
            text-shadow: 5px 0px 5px white;
          }
          &::before {
            content: "C";
            font-family: VIA-Verlag;;
            position: absolute;
            left: 4px;
            top: 1px;
            width: 10px;
            height: 10px;
            //border-radius: 50%;
            //background-color: $fourth-color; /* Standard Hintergrundfarbe */
            //border: 1px solid #333; /* Standard Randfarbe */
          }
        }
        
      }
    }

    #kursÜberblick {
        display: flex;
        flex-flow: row wrap;
        gap:20px;
        justify-content:center;
        width: 95%;
        margin: 20px auto ;
        font-size: small;
        padding: 0 ;
        //border: solid;
        #cards{
          padding: 0 ;
          width: 30%;
          height: auto;
          min-width: 300px;
          min-height: 200px;
          flex-basis: auto;
          // flex-grow: 3;
          flex-shrink: 1;
          border-radius: $small;
          //border: solid;
          background: $fourth-color;
          box-shadow: $boxshadow;
          h3{
            //position: relative;
            padding: 5px;
            text-align: center;
            font-size: 18px;
            color: $fourth-color;
            background-color: $cpdblue;
            margin: 0;
            border-radius:10px 10px 0 0px ;
            min-height: 50px;
            line-height: 50px;
            white-space: nowrap; 
            overflow: hidden;
            text-overflow: ellipsis;
            cursor: pointer;
            // 
            // &:hover::after {
            //   content: attr(data-tooltip); /* Tooltip-Text aus dem Attribut */
            //   position: absolute;
            //   bottom: 100%; /* Tooltip über dem Element anzeigen */
            //   left: 50%;
            //   transform: translateX(-50%);
            //   background-color: #333;
            //   color: #fff;
            //   padding: 5px;
            //   border-radius: 4px;
            //   white-space: nowrap;
            //   font-size: 14px;
            //   opacity: 0;
            //   visibility: hidden;
            //   transition: opacity 0.3s ease;
            //   z-index: 10;
            // }
            // &:hover::after {
            //   opacity: 1;
            //   visibility: visible;
            // }
            
            &:before{
              content: "C ";
              font-family: VIA-Verlag;
              // position: relative;
              // top: 1px;
              //z-index: 1;
              vertical-align: -1px;
            }
            &:hover{
              text-shadow: 5px 0px 5px white;
            }
          }
          >div{
            margin: 0px;
            display: flex;
            flex-flow: column nowrap;
            justify-content:space-between;
            >div{
              padding: 4px 10px;
              background: linear-gradient($first-color, $fourth-color );
              display: flex;
              flex-flow: row nowrap;
              justify-content: space-between;
              //height: min-content;
              //border: solid;
              >p{
                font-size: small;
                //border: solid;
                width: 30%;
              }
              #sprachliste {
                //display: flex;
                flex-flow: row wrap;
              }
              #sprachliste p::after {
                content: ", ";
                white-space: pre;
              }
              #sprachliste p:last-of-type::after {
                content: "";
              }
              >div{
                display: flex;
                flex-flow: column nowrap;
                // background: black;
                // color: $fourth-color;
                //border: solid;
                width: 60%;
                #author{
                  //border-bottom: solid 1px;
                  &:before{
                    content: 'C ';
                    color: $cpdred;
                    font-family: VIA-Verlag;
                    //position: relative;
                    //top: 1.4px;
                    font-size: $small;
                    vertical-align: -1px;;
                  }
                  &:hover{
                    cursor: pointer;
                    color: $cpdred;
                    text-shadow: $text-shadow;
                  }
                }
                
              } 
            } 
            >div:last-child{
              border-radius: 0 0 10px 10px 
            }  
            #infoLink:hover{
              text-shadow: $text-shadow;
            }
          }
        }
      }

    #tableCourseList {
      font-size: $small;
      margin: 0 auto;
      padding: 10px;
      table-layout:fixed;
      width: 100%;
      min-width: 1000px;
      overflow:scroll;
      margin-bottom: 20px;
      th {
        margin: 5px;
        padding: 5px;
        color: $secondary-color;
        background-color: $cpdblue;
        font-size: $xsmall;
        //background: linear-gradient($first-color, $cpdblue );
        text-align: left;
        //border-radius: 0 10px 0 10px;
        p{
          padding-left: 3px;
          font-size: $xsmall;
        }
        select {
          background-color: $cpdblue;
          color: $secondary-color;
          border: none;
          font-size: $small;
        }
        
      }
      th:first-child {
        border-radius: 10px 0 0 0;
      }
      th:last-child {
        border-radius: 0 10px 0 0;
      }
  
      tr, td{
        padding:5px 5px;
        text-align: left;
        list-style-type: none;
        vertical-align: top;
        background: linear-gradient($first-color, $fourth-color );
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;       
      }
      tr:last-child td:first-child {
        border-radius: 0 0 0 10px;
      }
      tr:last-child td:last-child {
        border-radius: 0 0 10px 0;
      }
      
      #topic p, #author p {
        //text-decoration-line: none;
        color: $cpdblue;
        width: 200px;
        white-space: nowrap; 
        overflow: hidden;
        text-overflow: ellipsis;
          
      }
      #author p:before, #topic p:before{
         content: 'C ';
         color: $cpdred;
         font-family: VIA-Verlag;
         vertical-Align: -1px;
         text-shadow: $text-shadow;
       }
       td:hover{
        width:max-content;
        overflow: visible;
        text-overflow:unset;
        background-color: $fourth-color;
       }
       #author p:hover,
       #topic p:hover {
         background-color: $first-color;
         text-shadow: $text-shadow;
         color: $cpdred;
         width: max-content;
         padding-right: 20px;
         overflow: visible;
         text-overflow: unset;
         cursor: pointer;
         position: relative;
         z-index: 10;
         white-space: nowrap;
         box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
       }
              
      #infoLink:hover, 
      #providerLink:hover  { 
        background-color: $first-color;
        text-shadow: $text-shadow;
        color: $cpdred;
        width: max-content;
        overflow: visible;
        text-overflow: unset;
        cursor: pointer;
        position: relative;
        z-index: 10;
        white-space: nowrap;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
      }
    }
  }
  
} 


.courseDetailsModal {
  
  .ant-modal-content{
    width: 100%;
    min-height: 1000px;
    box-shadow: $mainshadow;
    top: 50px;
    margin:  0 0 100px;
    //padding: 0;
    overflow:auto;
    
    .ant-modal-header{
      margin: 30px auto ;
      //border: solid;
    }
  
    button{
      margin-top: 20px;
    }
    button.ant-modal-close{
      //position: relative;
      right: 10% ;
      top: 55px !important;
      width: 20px;
      height: 20px;
      //font-size: 34px;
      .ant-modal-close-x {
        font-size: 20px !important;
        margin: 0px auto !important;
      }
    }
    .ant-modal-footer{
      width: 80%;
    }
  
    #courseArticle {
      //border: solid;
      border-radius: 10px;
      width: 90%;
      margin: 0 auto;
      box-shadow: $boxshadow;
    
      h2{
      background-color: $cpdblue;
      color: $fourth-color;
      text-align: center;
      padding: 15px;
      border-radius: 10px 10px 0px 0px;
      }
      >div {
        padding: 4px 10px;
        background: linear-gradient($first-color, $fourth-color );
        display: flex;
        flex-flow: row nowrap;
        justify-content:flex-start;
        //height: min-content;
        //border: solid;
        >p{
          font-size: $small;
          width: 30%;
          // background-color: $cpdblue;
          // color: $fourth-color;
          // padding: 5px;
          // border: solid;
        }
        >output, >div {
          font-size: $small;
          width: 70%;

        }
        #inhaltModal{
          margin-bottom: 10ox;
          font-size: $small;
          width: 70%;
          min-height: 50px;
          max-height: 150px;
          overflow-x: auto;
          scrollbar-width:thin;  
          scrollbar-color: $first-color $cpdred;
        }
        #sprachlisteModal {
          display: flex;
          flex-flow: row wrap;
        }
        
        #sprachlisteModal p::after {
          content: ', '; /* Fügt ein Komma und ein Leerzeichen nach jedem <p> hinzu */
          margin-right: 4px;
        }
        
        #sprachlisteModal p:last-of-type::after {
          content: ''; /* Entfernt das Komma und das Leerzeichen beim letzten Element */
        }  
      }
      // >div:nth-child(odd){
      //   background: $cpdblue-50 ;
      // }
      >div:last-of-type{
        border-radius: 0 0px 10px 10px;
      }
      #contentImagesModal{
        display: flex;
        flex-flow: row nowrap;
        gap: 10px;
        width: 100%;
        overflow-y:auto;
        scrollbar-width:thin;  
        scrollbar-color: $first-color $cpdred;
        padding-right: 90%; /* Platz für Scrollbar schaffen */
        //box-sizing: content-box; /* Sicherstellen, dass Padding nicht zur Breite addiert wird */
      }
    
      .boxInOutput {
        display: flex;
        flex-flow: row nowrap;
        //border: solid;
        justify-content: space-between;
        .feldInFeld{
          display: flex;
          flex-flow: row nowrap;
          width: 50%;
          //border: solid;
          p{
          padding-right: 3px;  
          };
        }
      }

      .linkToCourse div{
        cursor: pointer;
      }
      
      #infoLink {
        text-shadow: $text-shadow;
        cursor: pointer;
      }
    }
  }

}


