@import "../../scss/global.scss";


#courseListMain {
  min-height: 60vh;
  margin-top: 100px;
  background-color: $first-color;

  #courseListHead{
    width: 80%;
    margin: 50px auto;
    font-family: $primary-font-bold;
  }

  form {
    select{
      background-color: $cpdblue;
      color: $secondary-color;
      border: none;
      text-align: left;
    }
  }

  #tableCourseList {
    border-radius: 10px;
    font-size: $small;
    float: left;
    margin: 0px;
    height: 30px;
    width:100%;
    text-align: center;
    border: solid;
    border-collapse: collapse;
    tr, td{
      padding:5px 5px;
      text-align: left;
      list-style-type: none;
      vertical-align: top;
    }
    th {
      margin: 5px;
      padding-left:5px;
      color: $secondary-color;
      background-color: $cpdblue;
      text-align: left;
    }
    tr:nth-child(even) {
      background-color: $third-color-o;
    }
    tr:hover {
      background-color: $secondary-color;
    } 
  }
}
 