@import "../../scss/global.scss";


#courseListMain {
  min-height: 75vh;
  margin-top: 100px;
  margin-bottom: 100px;
  margin: 100px auto 50px;
  background-color: $first-color;
  box-shadow: $mainshadow;
  
  #courseListHead{
    width: 90%;
    margin: 80px 60px 0;
    padding-left: 20px;
    font-family: $primary-font-bold;
    //border: solid;
  }
  
  #overviewCourses {
    width: 90%;
    margin: 0 auto; 
    border-left: dotted;
    border-right: dotted;
    border-width: 3px;
    border-radius: $radiuslarge;
    border-color: $cpdred;
    overflow-x:scroll;
    
    >div{
      display: flex;
      flex-flow: row nowrap;
      justify-content:flex-end;
      gap: 20px;
      padding: 0px;
      width: 85%;
      margin: 0px auto;
      height: min-content;
      //border: solid;
      ul{
        display: flex;
        flex-flow: row nowrap;
        position: relative;
        bottom: -03px;
        list-style-type: none;
        width: auto;
        height: min-content;
       //border: solid;
        div{
          display: flex;
          flex-flow: row nowrap;
          border: dotted;
          border-radius:2px;
          position: relative;
          bottom: 3px;
          margin: 0 0 0 5px;
          li{
            padding: 2px 5px;
            min-width: 50px;
            &:after{
              content: ",";
            }
            &:last-child::after{
              content: "";
            }
          }
        }
      }
      #sortItem {
        position: relative;
        top: 0px;
        background: transparent;
        margin: 0 0 0 5px;
        padding: 0 ;
        font-size: $small;
        border: dotted $cpdred;
        border-radius:2px;
        height: 25px;
        &:active{
          border: none;
        }
        &:hover {
          color: $cpdred;
          text-shadow: $text-shadow;
        }
      }
      p select{
        //border:solid;
        //display: inline;
        text-align: right;
        margin: 10px 20px 0 20px;
        //border: solid;
        &:hover {
          color: $cpdred;
          text-shadow: $text-shadow;
        }
      }
      #filterLöschen:hover {
        color: $cpdred;
          text-shadow: $text-shadow;
      }
    }
  }
  
  #tableCourseList {
    font-size: $small;
    margin: 0 auto;
    font-size: 0.8rem;
    padding: 10px;
    width: 80%;
  
    //text-align: center;
    /* border-width: 1rem;
    border-left: dotted;
    border-right: dotted;
    border-width: 3px;
    border-radius: $radiussmall; */
    //border-collapse: collapse;
    th {
      margin: 5px;
      padding:5px;
      color: $secondary-color;
      background-color: $cpdblue;
      font-size: 0.8rem;
      //background: linear-gradient($first-color, $cpdblue );
      text-align: left;
      //border-radius: 0 10px 0 10px;
      p{
        padding-left: 4px;
        font-size: 0.8rem;
      }
      select {
        background-color: $cpdblue;
        color: $secondary-color;
        border: none;
        font-size: 0.8rem;
      }
      
    }
    th:first-child {
      border-radius: 10px 0 0 0;
    }
    th:last-child {
      border-radius: 0 10px 0 0;
    }

    tr, td{
      padding:5px 5px;
      text-align: left;
      list-style-type: none;
      vertical-align: top;
      background: linear-gradient($first-color, $fourth-color );
    }
    tr:last-child td:first-child {
      border-radius: 0 0 0 10px;
    }
    tr:last-child td:last-child {
      border-radius: 0 0 10px 0;
    }
    #topicLink, #authorsLink{
      text-decoration-line: none;
      color: $cpdblue;
    }
    
    /* .larger:hover {
      background: $cpdred;
      color: $secondary-color;
      box-shadow: $btnshadow;
      border-radius: 3px;
      width: 20%;
      padding:0px;
      cursor: pointer;
      //border-radius:10px 0 10px 0;
      #topicLink, #authorsLink{
        color: $secondary-color;
        font-size: 16px;
      }
    } */
    #author:hover:before, #topic:hover:before{
       content: 'C ';
       font-family: VIA-Verlag;
       vertical-Align: -1px;
       text-shadow: $text-shadow;
     }
    #author:hover, #topic:hover {
      //background-color: $first-color;
      color: $cpdred;
      //padding: 5px;
      //margin-left: -5px;
      //width: calc(100% + 10px);
      //font-size: 16px;
      //box-shadow: $btnshadowsmall;
      border-radius: 7px;
      #authorsLink:hover,#topicLink:hover {
        color: $cpdred;
        text-shadow: $text-shadow;
      }
    }
    #infoLink, #providerLink {
      text-align: center;
      margin: 0 auto;
      &:hover {
        color: $cpdred;
        text-shadow: $text-shadow;
      }
    }
  }
  #levelFilter {
    width: 80px;
  }
}
 