//@import '../../scss/global.scss';

#drehmoment {
  img {
  //display: none;
  position: fixed;
  opacity: 1;
  width: 15vw; 
  max-width: 200px;
  aspect-ratio: 1;
  z-index: -1;
  animation: rotate 25s infinite linear;
  }

  #r1 {
    left: 22vw;
    top: 0px;
    animation-duration: 20.5s;
  } 
  #r2 {
    left: 66vw;
    top: 0px;
    animation-duration: 22.5s;
  }
  #r3 {
    left: -2.5vw;
    top: 150px;
    animation-duration: 24s;
  }
  #r4 {
    left:43.5vw;
    top: 150px;
    animation-duration: 26s;
  }
  #r5 {
    left: 87.5vw;
    top: 150px;
    animation-duration: 22s;
  }
  #r6 {
    left: 22vw;
    top: 300px;
  } 
  #r7 {
    left: 66vw;
    top: 300px;
    animation-duration: 22.5s;
  }
  #r8 {
    left: -2.5vw;
    top: 450px;
    animation-duration: 25.6s;
  }
  #r9 {
    left:43.5vw;
    top: 450px;
    animation-duration: 25.6s;
  }
  #r10 {
    left: 87.5vw;
    top: 450px;
    animation-duration: 24.5s;
  }
  #r11 {
    left: 22vw;
    top: 600px;
  } 
  #r12 {
    left: 66vw;
    top: 600px;
    animation-duration: 22.5s;
  }
  #r13 {
    left: -2.5vw;
    top: 750px;
    animation-duration: 25.6s;
  }
  #r14 {
    left:43.5vw;
    top: 750px;
    animation-duration: 25.6s;
  }
  #r15 {
    left: 87.5vw;
    top: 750px;
    animation-duration: 24.5s;
  }
  #r16 {
    left: 22vw;
    top: 900px;
  } 
  #r17 {
    left: 66vw;
    top: 900px;
    animation-duration: 22.5s;
  }
  #r18 {
    left: -2.5vw;
    top: 1050px;
    animation-duration: 25.6s;
  }
  #r19 {
    left:43.5vw;
    top: 1050px;
    animation-duration: 25.6s;
  }
  #r20 {
    left: 87.5vw;
    top: 1050px;
    animation-duration: 24.5s;
  }
  #r21 {
    left: 22vw;
    top: 1200px;
  } 
  #r22 {
    left: 66vw;
    top: 1200px;
    animation-duration: 22.5s;
  }
}


@keyframes rotate {
 0% {
   transform: rotate(0deg)
 };
 100% {
   transform: rotate(360deg)
 }
}

